<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>首页<span class="crumb-step">&gt;</span><a class="crumb-name" href="#">留言管理</a>

            </div>
        </div>
        <div class="well1">

            <a style="margin-bottom: 0%;color:#000;"><i class="icon-font"></i>&nbsp;&nbsp;留言管理</a>
            <div class="well-content" style="margin-top: 2%;">

                <table class="result-tab" style="width: 100%;">
                    <thead>
                    <tr>

                        <th width="5%">ID</th>
                        <th width="5%">姓名</th>
                        <th width="10%">手机号</th>
                        <th width="10%">分类</th>
                        <th width="15%">邮箱</th>

                        <th width="10%">内容</th>
                        <th width="15%">时间</th>
                        <th width="10%">状态</th>
                        <th width="12%">管理操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <volist name="message" id="vo">
                        <tr>

                            <td>{$i}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.phone}</td>

                            <td>{$vo.title}</td>
                            <td>{$vo.email}</td>
                            <td>{$vo.content|mb_substr=0,6,'utf-8'}...</td>
                            <td>{$vo.time}</td>

                            <if condition="$vo.status eq 0 ">
                                <td style="text-align:center;"><button style="color:#FF0033;"  class="status1" href="#" name="{$vo.messageid}">未回复</button></td>
                                <else />
                                <td  style="text-align:center;"><button style="color:#003399;"  class="status2" href="#" name="{$vo.messageid}">已回复</button></td>
                            </if>
                            <if condition="$roleid eq 1 ">
                                <td>

                                    <a class="btn" href="/index.php/admin/message/del/id/{$vo.messageid}" title="删除">删除</a>
                                    <a class="btn" href="/index.php/admin/message/show/id/{$vo.messageid}" title="查看">查看</a>
                                </td>
                                <else />
                                <td>

                                    <a class="btn" href="/index.php/admin/message/show/id/{$vo.messageid}" title="查看">查看</a>
                                </td>
                            </if>



                        </tr>
                    </volist>


                    </tbody>
                </table>
                <ul class="pagination" style="float: right;margin-left: 5%;">
                    {$pages}
                </ul>
            </div>

        </div>
        <!-- Content end -->
    </div>
</div>

<script src="__PUBLIC__/admin/js/jquery.min.js">
</script>
<script>
    $(document).ready(function(){
        $(".status1").click(function(){
            var id=$(this).attr('name');
            $(this).addClass("status2").removeClass("status1");
            $.post("{:U('/admin/message/manage1')}",
                    {
                        id:id
                    },
                    function(){
                        alert('是否确认修改！');
                        $(".status2").css("color","#003399");
                        $(".status2").text('已回复');

                    });

        });

    });
</script>
</body>
</html>
