
<head>
    <meta charset="UTF-8">
    <title>联系我们v1.0-bootstrap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__PUBLIC__/css/contactus.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/environment.css"  type="text/css" rel="stylesheet">




    <!--样式main.js-->
    <script src="__PUBLIC__/js/main.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/completer.min.css">
</head>

<div class="row clearfix" style="margin:0px">
    <div>

        <ul class="breadcrumb ">

            <li>
                您所在的位置:
                <a href="/home/index/index">首页</a>
            </li>

            <li class="active">

                联系我们
            </li>

        </ul>
    </div>
</div>
    <div class="container">
        <!--第一部分开始-->
        <div class="row">&nbsp;</div>
        <div class="row rowheight3">
            <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-2">
                <div >
                    <div class="col-md-4 text-center col-xs-4"> 
                        <div class="content-nav-icon">
                            <a href="#box1"><img src="__PUBLIC__/images/contactus/u289.png" name="u3" class="img-change" /></a>
                            <h3 class="nav-font">联系方式</h3>
                            <p>get more......</p>
                        </div>
                        <img src="__PUBLIC__/images/contactus/shuxian.png" class="content-nav-line">
                    </div>  
                </div>
                <div class="content-nav">
                    <div class="col-md-4 text-center col-xs-4"> 
                        <div class="content-nav-icon">
                            <a href="#box2"><img src="__PUBLIC__/images/contactus/u291.png" name="u7" class="img-change"></a>
                            <h3 class="nav-font">加入我们</h3>
                            <p>get more......</p>
                        </div>
                        <img src="__PUBLIC__/images/contactus/shuxian.png" class="content-nav-line">
                    </div>  
                </div>
                <div class="content-nav">
                    <div class="col-md-3 text-center col-xs-3"> 
                        <div class="content-nav-icon">
                            <a href="#box3"><img src="__PUBLIC__/images/contactus/u293.png" name="u9" class="img-change"></a>
                            <h3 class="nav-font">客户留言</h3>
                            <p>get more......</p>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
        <!--第一部分结束-->
        <!--第二部分开始-->
        <div class="row contact_second">
            <div class="col-md-2 col-md-push-4 col-xs-2 contact_second_img_first">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
            <div class="col-md-3 col-md-push-3 col-xs-6 col-xs-push-1">
                      <div class="contact_second_word_ch">联系方式</div>
                        <div class="contact_second_word_en">kunyun</div>
            </div>
            <div class="col-md-3 col-md-push-1 contact_second_img_second ">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
        </div>
        <!--第二部分结束-->
        <!--第三部分开始-->
        <div class="row contact_third">
            <div class="col-md-4 col-md-push-2 col-xs-12 col-contact_third_img">
                <img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/images/contactus/u3305.png">
            </div>
            <div class="col-md-4 col-md-push-3 contact_third_text">
                <div class="contact_third_first">公司地址</div>
                <div class="contact-third-second">——河北省廊坊市永清县里澜城镇（里澜城村）</div>
                <div class="contact-third-third">联系电话</div>
                <div class="contact-third-fourth">——XXXX—XXXXXXX</div>
            </div>
        </div>
        <!--第三部分结束-->
        <!--第四部分开始-->
        <div class="row contact_second">
            <div class="col-md-2 col-md-push-4 contact_second_img_first col-xs-2">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
            <div class="col-md-3 col-md-push-3 col-xs-6 col-xs-push-1">
                <div class="contact_second_word_ch">加入我们</div>
                <div class="contact_second_word_en">kunyun</div>
            </div>
            <div class="col-md-3 col-md-push-1 contact_second_img_second">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
        </div>
        <!--第四部分结束-->
        <!--第五部分开始-->
        <div class="row contact_third">
            <div class="col-md-4 col-md-push-2 col-xs-12 contact_third_img">
                <img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/images/contactus/u3320.jpg">
            </div>
            <div class="col-md-4 col-md-push-3 contact_fifth_text">
                <div class="contact_third_first">商务合作</div>
                <div class="contact-fifth">
                    <div>X女士</div>
                    <div>联系方式：XXXXXXXXXXX</div>
                    <div>负责：商品销售、战略合作、价格洽谈</div>
                </div>
                <div class="contact-third-third">人才招聘</div>
                <div class="contact-fifth">
                    <div>X女士</div>
                    <div>联系方式：XXXXXXXXXXX</div>
                    <div>负责：商品销售、战略合作、价格洽谈</div>
                </div>
            </div>
        </div>
        <!--第五部分结束-->
        <!--第六部分开始-->
        <div class="row contact_second">
            <div class="col-md-2 col-md-push-4 contact_second_img_first col-xs-2">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
            <div class="col-md-3 col-md-push-3 col-xs-6 col-xs-push-1">
                <div class="contact_second_word_ch">客户留言</div>
                <div class="contact_second_word_en">kunyun</div>
            </div>
            <div class="col-md-3 col-md-push-1 contact_second_img_second">
                <img src="__PUBLIC__/images/contactus/u219.png">
            </div>
        </div>
        <!--第六部分结束-->
        <!--第七部分开始-->
        <div class="row contact_seventh">
                <div class="col-md-8 col-md-push-2 col-xs-10 col-xs-push-1 contact_seventh_form">
                    <form>
                        <div class="row contact_seventh_first">
                            <div class="col-md-4 col-md-push-1 contact_seventh_first_input">
                                <input type="text" placeholder="请输入联系人姓名：" class="form-control">
                            </div>
                            <div class="col-xs-4">&nbsp</div>
                            <div class="col-md-4 col-md-pull-1 contact_seventh_first_input">
                                <input type="text" placeholder="请输入联系电话：" class="form-control">
                            </div>
                        </div>
                        <div class="row contact_seventh_second">
                            <div class="col-md-4 col-md-push-1 contact_seventh_first_input">
                                <div class="form-group contact_seventh_second_third">
                                    <!--<label for="name">选择列表</label>-->
                                    <select class="form-control">
                                        <option>我的需求</option>
                                        <option>产品问题</option>
                                        <option>价格问题</option>
                                        <option>其他问题</option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4 col-md-push-1 col-xs-10  contact_seventh_third_input">
                                    <input class="form-control" id="auto-complete-domain" placeholder="请输入您的邮箱地址">
                                </div>
                         </div>
                        <div class="row">&nbsp</div>
                        <div class="row">
                            <div class="form-group col-md-8 col-md-push-1 col-xs-10 contact_seventh_fourth">
                                <textarea rows="5" cols="50" class="form-control" placeholder="详情描述"></textarea></div>
                        </div>
                        <div class="row contact_seventh_last">
                            <div class="form-group col-md-2 col-md-push-7 contact_seventh_fourth">
                                <input class="btn" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <!--第七部分结束-->
    </div>
    <div class="row-md-1">&nbsp;</br></br></div>

