<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>首页<span class="crumb-step">&gt;</span><a class="crumb-name" href="/index.php/admin/product/index">产品中心</a><span class="crumb-step">&gt;</span>产品信息
            </div>
        </div>
    </div>
    <div class="well">
        <p style="font-size:26px;margin-left:42%;margin-top:3%;">产品信息</p>
        <hr/>
        <div class="well brown" style="margin-left:2%;margin-right:20%;">
            <form action="{:U('admin/product/manage')}">
                <table class="insert-tab" width="100%">
                    <tbody>
                    <volist name="result" id="data">
                        <tr>
                            <th width="15%">产品名称：</th>
                            <td>{$data.name}</td>
                        </tr>
                        <tr>
                            <th>图片：</th>
                            <td><img src="__PUBLIC__/upload/{$data.image}" style="height:100px;width:120px;margin-top: 2%;margin-left: 1%;margin-bottom: 2%;"></td>
                        </tr>
                        <volist name="proimg" id="vo">
                        <tr>
                            <th>详情页图片：{$i}</th>
                            <td><img src="__PUBLIC__/upload/{$vo.proimgpath}" style="height:100px;width:120px;margin-top: 2%;margin-left: 1%;margin-bottom: 2%;"></td>
                        </tr>
                        </volist>
                        <tr>
                            <th>介绍：</th>
                            <td>
                                {$data.introductions|htmlspecialchars_decode}
                            </td>
                        </tr>

                        <tr>
                            <th>价格：</th>
                            <td>{$data.price}&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;吨</td>
                        </tr>

                    </volist>
                    </tbody></table>

            </form>
        </div>
    <!-- Content end -->
</div>

</body>
</html>
