<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>首页<span class="crumb-step">&gt;</span><a class="crumb-name" href="#">信息管理</a>

            </div>
        </div>
        <div class="well1">

            <a href="{:U('admin/common/add')}" style="color:#000;"><i class="icon-font"></i>&nbsp;&nbsp;添加内容</a>

            <div class="well-content" style="margin-top: 1%;">

                <table class="result-tab">
                    <thead>

                    <tr>

                        <th width="5%">ID</th>
                        <th width="10%">类别名</th>
                        <th width="10%">所在部分</th>
                        <th width="10%">标题</th>
                        <th width="15%">内容</th>

                        <th width="10%">图片</th>
                        <th width="15%">添加时间</th>

                        <th width="15%">管理操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="result" id="data" key="k">
                        <tr>
                            <td>{$k}</td>
                            <td>公司简介</td>
                            <td>{$data.kindid}</td>
                            <td>{$data.title}</td>
                            <td>
                                {$data.content|mb_substr=0,10,'utf-8'}......
                            </td>
                            <td><img src="__PUBLIC__/upload/{$data.image}" style="margin-left: 20%;"></td>
                            <td>{$data.time}</td>

                            <td>
                                <a class="btn" href="/admin/common/manage/id/{$data.commonid}" title="修改">修改</a>
                                <a class="btn" href="/admin/common/del/id/{$data.commonid}" title="删除">删除</a>
                                <a class="btn" href="/admin/common/show/id/{$data.commonid}" title="查看">查看</a>
                            </td>
                        </tr>


                    </volist></tbody>
                </table>
                <ul class="pagination" style="float: right;margin-left: 5%;">
                    {$pages}
                    </ul>
            </div>

        </div>
        <!-- Content end -->
    </div>
</div>
</body>
</html>
