<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>首页<span class="crumb-step">&gt;</span><a class="crumb-name" href="/admin/question/index">问题管理</a><span class="crumb-step">&gt;</span>添加问题
            </div>
        </div>
    </div>
    <div class="well">
        <form action="{:U('admin/question/add')}" method="post" enctype= "multipart/form-data">
            <table class="insert-tab" width="100%">
                    <tbody>


                    <tr>
                        <th width="10%">问题：</th>
                        <td><input class="common-text" name="question" size="50" type="text"></td>
                    </tr>
                    <tr>
                        <th>答案：</th>
                        <td>
                            <textarea class="common-textarea" name="answer" cols="30" style="width: 60%;" rows="5"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" style="color:#ffffff;" value="添加" type="submit" name="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>

                    </tbody></table>
        </form>
    </div>
    <!-- Content end -->
</div>

</body>
</html>
