<div class="container col-md-12 font-family"style="padding:0px">
	<div class="container col-md-12" style="padding:0px">
		<div>
			<div class="carousel slide" >

				<div class="carousel-inner">
					<div class="item active" >
						<volist name="bigtu" id="big">
						<img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
					</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix" style="margin:0px">
			<div>

				<ul class="breadcrumb ">

					<li>
						您所在的位置:
						<a href="/index.php/home/index/index">首页</a>
					</li>

					<li class="active">

						产品中心
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 container">

	<!--content-->
	<!--content-nav-->
	<div class="xshidden row">
		<div class="col-md-9 col-md-offset-2 col-xs-12 col-xs-offset-0">
			<div class="content-nav">
				<div class="col-md-3 text-center col-xs-3">
					<div class="content-nav-icon">
						<a href="#box1"><img src="__PUBLIC__/images/protechnology/u3.png" name="u3" class="img-change" /></a>
						<h3 class="nav-font">产品技术</h3>
						<p>get more......</p> 
					</div>
					<img src="__PUBLIC__/images/protechnology/u11.png" class="xshidden content-nav-line">
				</div>
			</div>
			<div class="content-nav">
				<div class="col-md-3 text-center col-xs-3">
					<div class="content-nav-icon">
						<a href="#box2"><img src="__PUBLIC__/images/protechnology/u7.png" name="u7" class="img-change"></a>
						<h3 class="nav-font">产品展示</h3>
						<p>get more......</p>
					</div>
					<img src="__PUBLIC__/images/protechnology/u11.png" class="xshidden content-nav-line">
				</div>
			</div>
			<div class="content-nav">
				<div class="col-md-3 text-center col-xs-3">
					<div class="content-nav-icon">
						<a href="#box3"><img src="__PUBLIC__/images/protechnology/u9.png" name="u9" class="img-change"></a>
						<h3 class="nav-font">销售范围</h3>
						<p>get more......</p>
					</div>
					<img src="__PUBLIC__/images/protechnology/u11.png" class="xshidden content-nav-line">
				</div>
			</div>
			<div class="content-nav">
				<div class="col-md-3 text-center col-xs-3">
					<div class="content-nav-icon">
						<a href="#box4"><img src="__PUBLIC__/images/protechnology/u5.png" name="u5" class="img-change"></a>
						<h3 class="nav-font">样品寄送</h3>
						<p>get more......</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--content-nav-end-->
	<!--content1-->
	
	<div class="xshidden row-md-1">&nbsp;</br></br>
	<div id="box1"></div></br></div></br>
	<div class="col-md-12">
		<div class="text-center">
			<div class="big">
				<div>
					<img src="__PUBLIC__/images/protechnology/u321.png">
					产品技术
					<img src="__PUBLIC__/images/protechnology/u321.png">
				</div>
			</div>
			<div class="kunyuan">kunyuan</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-1-1">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:2%;">
					<div class="mdhidden col-xs-1"></div>
					<volist name="technology" id="data" offset="0" length="1">
					<div class="col-md-5 col-md-push-7 col-xs-12">
						<img src="__PUBLIC__/upload/{$data.image}" class="carousel-inner img-responsive " style="margin-top:7%;">
					</div>
					<div class="col-md-5 col-md-pull-5 col-md-push-0 fadeInLeft col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div>
							<div class="mdhidden row-xs-1">&nbsp;</div>
							<h3>1.原料选取</h3>
							<p class="comtext">   <volist name="technology" id="data" offset="0" length="1">
								{$data.content}
							</volist></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<img src="__PUBLIC__/images/protechnology/u110.png" class="col-md-10 col-xs-8 col-md-offset-1 col-xs-offset-2" style="margin-top:4%;">
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-xs-12 col-md-offset-0 col-xs-offset-0">
			<div class="content-1-2" style="margin-top:1%;">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:2%;">
                    <volist name="technology" id="data" offset="1" length="1">
                    <div class="col-md-5 col-md-pull-0 col-xs-12 col-xs-push-0 col-xs-pull-0">
						<img src="__PUBLIC__/upload/{$data.image}" class="carousel-inner img-responsive " style="margin-top:9%;">
					</div>
					<div class="col-md-5  col-md-push-2 col-md-pull-0 fadeInLeft col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div class=" content1-text" style="margin-top:4%;">
							<div class="mdhidden row-xs-1">&nbsp;</div>
							<h3>2.前提准备</h3>
							<p class="comtext">
								{$data.content}
							</volist></p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<img src="__PUBLIC__/images/protechnology/u110.png" class="col-md-10 col-xs-8 col-md-offset-1 col-xs-offset-2" style="margin-top:5%;">
	</div>

	<div class="col-md-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-1-1">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:1%;">
					<div class="mdhidden col-xs-1"></div>
                    <volist name="technology" id="data" offset="2" length="1">
					<div class="col-md-5 col-md-push-7 col-xs-12">
						<img src="__PUBLIC__/upload/{$data.image}" class="carousel-inner img-responsive " style="margin-top:7%;">
					</div>
					<div class="col-md-5 col-md-pull-5 col-md-push-0 fadeInLeft col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div>
							<div class="mdhidden row-xs-1">&nbsp;</div>
							<h3>3.制作过程</h3>
							<p class="comtext">
								{$data.content}
							</volist></p></p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--content1-end-->
	<!--content2-->
	
	
	<div class="col-md-12">
	<div class="xshidden row-md-1">&nbsp;</br></br></br></div>
	<div id="box2"></div></br>
		<div class="title">
			<div class="text-center">
				<div class="big">
					<div>
						<img src="__PUBLIC__/images/protechnology/u321.png">
						产品展示
						<img src="__PUBLIC__/images/protechnology/u321.png">
					</div>
				</div>
				<div class="kunyuan">kunyuan</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-2-1" style="margin-top:4%;">
				<div class="col-md-10 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:2%;">
					<div class="col-md-5 col-md-push-0 col-md-pull-1 col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div class="col-xs-12 col-md-12 ">

							<div class="img-thumbnail1 col-xs-12 col-md-12" style="padding:0px;margin:0px">
                                <volist name="product" id="data" offset="0" length="1">
								<img src="__PUBLIC__/upload/{$data.image}" class=" carousel-inner img-responsive  " name="u92">
							</div>

						</div>

					</div>
					<div class="col-md-5 col-md-push-1 col-md-pull-0 col-xs-9 col-xs-push-0 col-xs-pull-1 " style="margin-top:2%;">
						<div class="col-xs-12 col-md-11 content2-text">
							<h3>--<a href="/index.php/home/Proshow/index/id/{$data.productid}" class="proContent">



                                {$data.name}生物质材料</a></h3>
							<p class="comtext">{$data.introductions}</p>
						</div> </volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<img src="__PUBLIC__/images/protechnology/u110.png" class="col-md-12 col-xs-8 col-md-offset-0 col-xs-offset-2" style="margin-top:4%;">
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-2-1" style="margin-top:3%;">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:1%;">
					<div class="col-md-6 col-md-push-7 col-md-pull-1 col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div class="col-xs-12 col-md-12 img-thumbnail1" style="padding:0px;margin:0px">
                            <volist name="product" id="data" offset="1" length="1">
							<div class=" col-xs-12" style="margin:0px;padding: 0px" >
								<img src="__PUBLIC__/upload/{$data.image}" class=" carousel-inner img-responsive  " name="u94">
							</div>

						</div>
					</div>
					<div class="col-md-6 col-md-push-0 col-md-pull-7 col-xs-9 col-xs-push-0 col-xs-pull-1 fadeInLeft" style="margin-top:5%;">
						<div class="col-xs-12 content2-text">
							<h3>--<a href="/index.php/home/Proshow/index/id/{$data.productid}" class="proContent">{$data.name}生物质材料</a></h3>
							<p class="comtext">{$data.introductions}</p>
						</div>
                        </volist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<img src="__PUBLIC__/images/protechnology/u110.png" class="col-md-12 col-xs-8 col-md-offset-0 col-xs-offset-2" style="margin-top:4%;">
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-2-1" style="margin-top:3%;">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:1%;">
					<div class="col-md-6 col-md-push-0 col-md-pull-1 col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div class="col-xs-12 col-md-12 img-thumbnail1" style="padding:0px;margin:0px" >
                            <volist name="product" id="data" offset="2" length="1">
							<div class=" col-xs-12" style="padding:0px;margin:0px">
								<img src="__PUBLIC__/upload/{$data.image}" class=" carousel-inner img-responsive  " name="u96">
							</div>

						</div>

					</div>
					<div class="col-md-6 col-md-push-1 col-md-pull-0 col-xs-10 col-xs-push-0 col-xs-pull-1 " style="margin-top:5%;">
						<div class="col-xs-12 content2-text">
							<h3>--<a href="/index.php/home/Proshow/index/id/{$data.productid}" class="proContent">{$data.name}生物质材料</a></h3>
							<p class="comtext">{$data.introductions}</p>
                            </volist>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<img src="__PUBLIC__/images/protechnology/u110.png" class="col-md-12 col-xs-8 col-md-offset-0 col-xs-offset-2" style="margin-top:4%;">
	</div>
	<div class="col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12">
			<div class="content-2-1" style="margin-top:3%;">
				<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0" style="margin-top:1%;">
					<div class="col-md-6 col-md-push-7 col-md-pull-1 col-xs-12 col-xs-push-0 col-xs-pull-0">
						<div class="col-xs-12 col-md-12 img-thumbnail1" style="padding:0px;margin:0px">
                            <volist name="product" id="data" offset="3" length="1">
							<div class="col-xs-12" style="margin:0px;padding: 0px">
								<img src="__PUBLIC__/upload/{$data.image}" class=" carousel-inner img-responsive  " name="u98">
							</div>

						</div>
					</div>
					<div class="col-md-6 col-md-push-0 col-md-pull-7 col-xs-10 col-xs-push-0 col-xs-pull-1 fadeInLeft" style="margin-top:5%;">
						<div class="col-xs-12 content2-text">
							<h3>--<a href="/index.php/home/Proshow/index/id/{$data.productid}" class="proContent">{$data.name}生物质材料</a></h3>
							<p class="comtext">{$data.introductions}</p>
						</div>
                        </volist>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!--content2-end-->
	<!--content3-->
	
	<div class="col-md-12 col-xs-12" style="margin-top:5%;">
	<div class="xshidden row-md-1">&nbsp;</br></br><div id="box3"></div></br></br></div>
		<div class="text-center">
			<div class="big">
				<div>
					<img src="__PUBLIC__/images/protechnology/u321.png">
					销售范围
					<img src="__PUBLIC__/images/protechnology/u321.png">
				</div>
			</div>
			<div class="kunyuan">kunyuan</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 col-md-offset-0">
			<div class="content-3-1" style="margin-top:2%;">
				<div class="col-md-10 col-xs-12 col-md-offset-2 col-xs-offset-0">
					<div class="xshidden row-md-1">&nbsp;</div>
					<div class="xshidden row-md-1">&nbsp;</div>
					<div class="col-md-5 col-md-push-5 col-md-pull-1 col-xs-12 col-xs-push-0 col-xs-pull-1">
					<volist name="range" id="data" >
						<img src="__PUBLIC__/upload/{$data.image}" class="carousel-inner img-responsive  content3-img">
					</div>
					<div class="col-md-5 col-md-push-0 col-md-pull-5 col-xs-12 col-xs-push-0 col-xs-pull-0 fadeInLeft">
						<div class="col-xs-12 col-md-11 col-md-pull-1 col-xs-pull-0">
							<h2>销售<a href="#" class="content3-h1">范围:</a></h2>
							<div class="row-md-1">&nbsp;</div>
							<p class="comtext"> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$data.content}
                            </volist></p>
							<h5>—公司地址<a href="/index.php/home/company/index">（<volist name="addr" id="a">
                            {$a.config_content}
                            </volist>）</a></h5>
						</div>
					</div>
				</div>
				<div class="xshidden row-md-1">&nbsp;</br></br></br></br></div>
			</div>
		</div>
	</div>
	<!--content3-end-->

	<!--content4-->
	
	<div class="col-md-12 col-xs-12" style="margin-top:2%;">
	<div  id="box4" class="row-md-1">&nbsp;</br></br></div>
		<div class="text-center">
			<div class="big">
				<div>
					<img src="__PUBLIC__/images/protechnology/u321.png">
					样品寄送
					<img src="__PUBLIC__/images/protechnology/u321.png">
				</div>
			</div>
			<div class="kunyuan">kunyuan</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-push-1 col-md-pull-0 col-xs-12 col-xs-push-0 col-xs-pull-0 text-center">
			<h2 class="pro">样品<a class="content4-title">申请</a>流程：</h2>
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-11 col-md-push-1">
			<div class="row">
				<div class="col-md-3 col-md-push-2 col-md-pull-0 col-xs-3 col-xs-push-0 col-xs-pull-0">
					<div class="content4-img-1">
						<img src="__PUBLIC__/images/protechnology/u144.png" class="content4-img1"/>
						<img src="__PUBLIC__/images/protechnology/u140.png" class="content4-img2"/>
						<h3>填写信息</h3>
					</div>
				</div>
				<div class="xshidden col-md-4 col-md-offset-1  col-xs-4 col-xs-offset-1" style="margin-top:12%;">
					<img src="__PUBLIC__/images/protechnology/u170.png">
				</div>
				<div class="col-md-3 col-md-push-0 col-md-pull-1 col-xs-3 col-xs-push-3 col-xs-pull-0">
					<div class="content4-img-2">
						<img src="__PUBLIC__/images/protechnology/u152.png" class="content4-img1"/>
						<img src="__PUBLIC__/images/protechnology/u140.png" class="content4-img2"/>
						<h3>收到请求</h3>
					</div>
				</div>
			</div>
			<div class="xshidden row">
				<div class="col-md-1 col-md-pull-2" style="margin-top:2%;padding-left:82%;" >
					<img src="__PUBLIC__/images/protechnology/u172.png">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-push-2 col-md-pull-0 col-xs-3 col-xs-push-0 col-xs-pull-0">
					<div class="content4-img-3">
						<img src="__PUBLIC__/images/protechnology/u160.png" class="content4-img1"/>
						<img src="__PUBLIC__/images/protechnology/u140.png" class="content4-img2"/>
						<h3>发送样品</h3>
					</div>
				</div>
				<div class="xshidden col-md-4 col-md-offset-1  col-xs-4 col-xs-offset-1" style="margin-top:10%;">
					<img src="__PUBLIC__/images/protechnology/u180.png">
				</div>
				<div class="col-md-3 col-md-push-0 col-md-pull-1 col-xs-3 col-xs-push-3 col-xs-pull-0">
					<div class="content4-img-4">
						<img src="__PUBLIC__/images/protechnology/u168.png" class="content4-img1"/>
						<img src="__PUBLIC__/images/protechnology/u140.png" class="content4-img2"/>
						<h3>收到样品</h3>
					</div>
				</div>
			</div>

		</div>
		<div class="row-md-1">&nbsp;</div>
		<div class="container col-md-12">
			<div class="col-md-4 col-md-push-4 col-xs-9 col-xs-push-3" style="margin-top:6%;margin-left:6%;">
				<img class="xshidden" src="__PUBLIC__/images/protechnology/u174.png">

				<a href="/index.php/home/send/index"><img src="__PUBLIC__/images/protechnology/u176.png"  class="lan img-change" name="u176"></a>
			</div>
		</div>
	</div>
	<div class="row-md-1">&nbsp;</br></br></div>
	<!--content4-end-->
	<!--content-end-->
</div>
<div class="row-md-1">&nbsp;</br></br></div>