*{
    text-decoration: none;
    color: #333333;
}
.contact_first a{
    color:#333333;
}
.row{margin:0;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11, .col-md-12,.col-md-2,.col-md-3, .col-md-4,
.col-md-5,.col-md-6,.col-md-7, .col-md-8,.col-md-9{padding:0;}
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2, .col-sm-3,
.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,
.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
/*!*.contact_first{*!*/
    /*!*padding-top:5%;*!*/
    /*!*padding-left:32%;*!*/
/*!*}*!*/
/*.nc_first_top{*/
    /*margin-top:5%;*/
/*}*/
/*.contact_first img{*/
    /*width:68px;*/
    /*height:68px;*/
/*}*/
.contact_first_ch_word{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.contact_first_ch_word div{
    white-space:nowrap;
}
.contact_first_en_word{
    font-size: 14px;
    line-height: normal;
}
.contact_first_en_word div{
    white-space:nowrap;
}
.contact_first_hr_second{
    margin-left:-5%;
}
.contact_first_third{
    margin-left:-9%;
}
/*.contact_first_hr{*/
  /*margin-left:8%;*/
/*}*/
/*.contact_first_hr img{*/
    /*width:2px;*/
    /*height:86px;*/
/*}*/
/*.contact_first_second{*/
    /*margin-left:3%;*/
/*}*/
/*.contact_first_hr_second{*/
    /*margin-left:7%;*/
/*}*/
/*.contact_first_hr_second img{*/
    /*width:2px;*/
    /*height:86px;*/
/*}*/
/*.contact_first a{*/
    /*color: #333333;*/
/*}*/
/*.contact_second img{*/
    /*width:68px;*/
    /*height:2px;*/
/*}*/
.contact_second{
    margin-top:10%;
}
.contact_second_img_first{
    margin-left:5%;
}
.contact_second_img_second{
    margin-left:3%;
}
.contact_second_word_ch{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    line-height: normal;
}
.contact_second_word_en{
    padding-left:9%;
    font-family: 'Blackadder ITC Normal', 'Blackadder ITC';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.contact_third{
    margin-top:6%;
}
/*.contact_third img{*/
    /*width: 429px;*/
    /*height: 320px;*/
/*}*/
/*.contact_third_img{*/
    /*margin-left:13%;*/
/*}*/
/*.contact_third_text{*/
    /*margin-top:6%;*/
/*}*/
.contact_third_first{
    font-family: "方正兰亭超细黑简体 Bold", 方正兰亭超细黑简体;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(9, 199, 247);
}
.contact-third-second{
    font-family: "方正兰亭超细黑简体 Bold", 方正兰亭超细黑简体;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin-top:10%;
}
.contact-third-third{
    margin-top:10%;
    font-family: "方正兰亭超细黑简体 Bold", 方正兰亭超细黑简体;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(9, 199, 247);
}
.contact-third-fourth{
    margin-top:10%;
    font-family: "方正兰亭超细黑简体 Bold", 方正兰亭超细黑简体;
    font-weight: 700;
    font-size: 18px;
}
/*.contact_fifth_text{*/
    /*margin-top:2%;*/
/*}*/
.contact-fifth{
    margin-top:5%;
    font-family: "方正兰亭超细黑简体 Bold", 方正兰亭超细黑简体;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.contact_seventh{
    margin-top:6%;

}
.contact_seventh_form{
    /*margin-left:15%;*/
    /*height: 458px;*/
    background-color: rgba(242, 242, 242, 1);
}
.contact_seventh_first{
    margin-top:10%;
}
/*.contact_seventh_first_input{*/
    /*margin-left:5%;*/
/*}*/
/*.contact_seventh_first_input input{*/
    /*width:252px;*/
    /*height:34px;*/
/*}*/
.contact_seventh_second{
     margin-top:3%;
 }
/*.contact_seventh_second{*/
    /*margin-top:3%;*/
/*}*/
/*.contact_seventh_first_input button{*/
    /*width:252px;*/
    /*height:25px;*/
/*}*/
/*.contact_seventh_second_third{*/
   /*width:252px;*/
    /*height:20px;*/
/*}*/
/*.contact_seventh_third{*/
    /*margin-top:3%;*/
/*}*/
/*.contact_seventh_third_input{*/
    /*margin-left:14.6%;*/
/*}*/
/*.contact_seventh_fourth{*/
   /*margin-left:13.2%;*/
    /*width:568px;*/
/*}*/
/*.contact_seventh_last{*/
    /*margin-top:3%;*/
/*}*/
