

<div class="container col-md-12 font-family"style="padding:0px">
	<div class="container col-md-12" style="padding:0px">
		<div>
			<div class="carousel slide" >

				<div class="carousel-inner">
					<div class="item active" >
					<volist name="bigtu" id="big">
						<img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
					</volist>
					</div>
				</div>
			</div>
		</div>

		<div class="row clearfix" style="margin:0px">
			<div>

				<ul class="breadcrumb ">

					<li>
						您所在的位置:
						<a href="index.html">首页</a>
					</li>

					<li class="active">

						公司简介
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class=" font-family container">
<div class="row-md-1">&nbsp;</div>
	<div class="text-center">
		<div class="big">
			<div>
				<img src="__PUBLIC__/images/company/u321.png">
				公司简介
				<img src="__PUBLIC__/images/company/u321.png">
			</div>
		</div>
		<div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
	</div>
	<div class="row-md-1">&nbsp;</div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-1 col-xs-0"></div>
			<div class="col-md-3 col-xs-5">
				<img src="__PUBLIC__/images/company/6b.png">
			</div>
			<div class="col-md-8 col-xs-7">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="t1" class="row-md-10">
					公司<a class="ba1">简介</a>
				</div>
			</div>
			<div class="row-md-9">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="col-md-3">&nbsp;</div>
				<div class="col-md-8">
					<p class="comtext"><span>
						<volist name="results" id="datas" offset="0" length='1'>
                        <volist name="datas" id="data">
                            <!--<?php dump(data)?>-->
                        &nbsp;&nbsp;&nbsp;{$data.content}
                        <br/>
                            </volist>

					</span></p>
				</div>
			</div>
		</div>
		<div class="row-md-1">&nbsp;</br></div>
		<div class="col-md-6 col-xs-12">
			<div class="xshidden row-md-1">&nbsp;</br></br></br></br></div>
			<div class="col-md-1 col-xs-0">&nbsp;</div>
			<div class="img-thumbnail1 col-md-9 col-xs-12" style="padding:0px;margin:0px;">
				<img class="carousel-inner img-responsive xintu" src="__PUBLIC__/upload/{$data.image}"></volist>
			</div>
			<div class="col-md-1 col-xs-0">&nbsp;</div>
		</div>
	</div>

	<div class="xshidden row-md-1">&nbsp;</br></br></br></br></div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-1 col-xs-0"></div>
			<div class="col-md-3  col-xs-5">
				<img src="__PUBLIC__/images/company/6b.png">
			</div>
			<div class="col-md-8  col-xs-7">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="t1" class="row-md-10">
					我们的<a class="ba1">优势</a>
				</div>
			</div>
		</div>
	</div>


	<div>
		<div class="xshidden row-md-1">&nbsp;</br></br></div>
		<div>
			<div class="col-md-1">&nbsp;</div>

			<div class="col-md-11 col-xs-12">
				<div class="col-md-1 col-xs-0">&nbsp;</div>
				<div class=" col-md-4 col-xs-7">
					<div class="bei3">
						<div>
							<div class="row-md-1"></br></div>
							<div class="col-md-3 col-xs-1">&nbsp;</div>
							<div class="row-md-4 col-md-7 col-xs-8 center3">
								<h1 class="title3">NO.1</h1>
								<p class="title333">
									<volist name="results" id="datas" offset="1" length="1">
										<volist name="datas" id ="data">

                                            {$data.content}

								</p>
							</div>
						</div>
						<div class="col-md-1 col-xs-1">&nbsp;</div>
						<div class="col-md-10 col-xs-12">
							<div class="xshidden row-md-1">&nbsp;</div>
							<div class="col-md-3 col-xs-0">&nbsp;</div>
							<div class="col-md-9 col-xs-12">
								<img class="img-responsive" src="__PUBLIC__/upload/{$data.image}">
							</div>
                            </volist>
                            </volist>
						</div>
					</div>

					<div class="row-md-1"></br></br></br></div>
					<div class="bei3">
						<div>
							<div class="row-md-1"></br></div>
							<div class="col-md-3 col-xs-1">&nbsp;</div>
							<div class="row-md-4 col-md-7 col-xs-8 center3">
								<h1 class="title3">NO.2</h1>
								<p class="title333">
                                    <volist name="results" id="datas" offset="2" length="1">
                                        <volist name="datas" id ="data">

                                            {$data.content}

								</p>
							</div>
						</div>
						<div class="col-md-1 col-xs-1">&nbsp;</div>
						<div class="col-md-10 col-xs-12">
							<div class="xshidden row-md-1">&nbsp;</div>
							<div class="col-md-3 col-xs-0">&nbsp;</div>
							<div class="col-md-9 col-xs-12">
								<img class="img-responsive" src="__PUBLIC__/upload/{$data.image}">
							</div>
                            </volist>
                            </volist>
						</div>
					</div>
				</div>

				<div class="xshidden row-md-1 row-xs-0">&nbsp;</br></br></br></br></br></br></br></br></br></br></br></div>

				<div class="xshidden col-md-6 col-xs-12 col-xs-pull-1 col-md-pull-0">
					<div class="mdhidden row-md-0 row-xs-1">&nbsp;</br></br></br></div>
					<div class="xshidden col-md-1 col-xs-0">&nbsp;</div>
					<div class="col-md-11 col-xs-7">
						<div class="bei2">
							<div>
								<div class="row-md-1"></br></div>
								<div class="col-md-3 col-xs-1">&nbsp;</div>
								<div class="row-md-4 col-md-7 col-xs-8 col-xs-push-1 col-md-push-0 center3">
									<h1 class="title3">NO.3</h1>
									<p class="title333">
                                        <volist name="results" id="datas" offset="3" length="1">
                                            <volist name="datas" id ="data">

                                                {$data.content}

									</p>
								</div>
							</div>
							<div class="col-md-1 col-xs-1">&nbsp;</div>
							<div class="col-md-10 col-xs-11">
								<div class="xshidden row-md-1">&nbsp;</div>
								<div class="col-md-3 col-xs-0">&nbsp;</div>
								<div class="col-md-9 col-xs-12 col-xs-push-1 col-md-push-0">
									<img class="img-responsive" src="__PUBLIC__/upload/{$data.image}">
								</div>
                                </volist>
                                </volist>
							</div>
						</div>
					</div>
					<div class="col-md-0 col-xs-5">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-md-1">&nbsp;</br></br></div>
	<div class="xshidden row-md-1">&nbsp;</br></br></div>
	<div class="row-md-1">&nbsp;</div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-1 col-xs-0"></div>
			<div class="col-md-3 col-xs-5">
				<img src="__PUBLIC__/images/company/6b.png">
			</div>
			<div class="col-md-8 col-xs-7">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="t1" class="row-md-10">
					公司<a class="ba1">现状</a>
				</div>
			</div>
			<div class="row-md-9">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="col-md-3">&nbsp;</div>
				<div class="col-md-8">
					<p class="comtext"><span>&nbsp;&nbsp;&nbsp;<volist name="results" id="datas" offset="4" length="1">
										<volist name="datas" id ="data">

                                            {$data.content}
                                        &nbsp;&nbsp;</span></p>
				</div>
			</div>
		</div>
		<div class="xshidden row-md-1">&nbsp;</br></br></br></br></br></br></div>
		<div class="col-md-6 row-md-8">
			<div class="col-md-1 col-xs-0">&nbsp;</div>
			<div class="img-thumbnail1 col-md-9 col-xs-12" style="padding:0px;margin: 0px">
				<img class="carousel-inner img-responsive " src="__PUBLIC__/upload/{$data.image}">
			</div>
            </volist>
            </volist>
		</div>
	</div>

	<div class="row">
		<div class="row-md-1 row-xs-1">&nbsp;</br></br></br></div>
		<div class="col-md-6">
			<div class="col-md-1 col-xs-0"></div>
			<div class="col-md-3  col-xs-5">
				<img src="__PUBLIC__/images/company/6b.png">
			</div>
			<div class="col-md-8  col-xs-7">
				<div class="row-md-1">&nbsp;</br></br></div>
				<div class="t1" class="row-md-10">					公司<a class="ba1">地址</a>
				</div>
			</div>
		</div>
	</div>
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=Cu1ViXWorAePcfc6OHInokKI2OCH0ohc&v=1.1&services=true"></script>
	<div class="row">
		<div class="row-md-1">&nbsp;</br></br></div>
		<div class="col-md-3 col-xs-1">&nbsp;</div>
		<div class="col-md-6 col-xs-10 img-thumbnail1" style="margin: 0px;padding: 0px">

            <div style="width:559px;height:308px;border:#ccc solid 1px;" id="dituContent"></div>
				<script type="text/javascript">
					//创建和初始化地图函数：
					function initMap(){
						createMap();//创建地图
						setMapEvent();//设置地图事件
						addMapControl();//向地图添加控件
						addMarker();//向地图中添加marker
					}

					//创建地图函数：
					function createMap(){
						var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
						var point = new BMap.Point(116.734307,39.206474);//定义一个中心点坐标
						map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
						window.map = map;//将map变量存储在全局
					}

					//地图事件设置函数：
					function setMapEvent(){
						map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
						map.enableScrollWheelZoom();//启用地图滚轮放大缩小
						map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
						map.enableKeyboard();//启用键盘上下左右键移动地图
					}

					//地图控件添加函数：
					function addMapControl(){
						//向地图中添加缩放控件
						var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
						map.addControl(ctrl_nav);
						//向地图中添加缩略图控件
						var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
						map.addControl(ctrl_ove);
						//向地图中添加比例尺控件
						var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
						map.addControl(ctrl_sca);
					}

					//标注点数组
					var markerArr = [{title:"坤源生物质颗粒有限公司",content:"手机：<volist name="numb" id="n">
                            {$n.config_content}
                            </volist>&nbsp;<br/>&nbsp;<volist name="addr" id="ad">
                            地址：{$ad.config_content}
                            </volist>",point:"116.734172|39.2066",isOpen:1,icon:{w:23,h:25,l:92,t:21,x:9,lb:12}}
					];
					//创建marker
					function addMarker(){
						for(var i=0;i<markerArr.length;i++){
							var json = markerArr[i];
							var p0 = json.point.split("|")[0];
							var p1 = json.point.split("|")[1];
							var point = new BMap.Point(p0,p1);
							var iconImg = createIcon(json.icon);
							var marker = new BMap.Marker(point,{icon:iconImg});
							var iw = createInfoWindow(i);
							var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
							marker.setLabel(label);
							map.addOverlay(marker);
							label.setStyle({
								borderColor:"#808080",
								color:"#333",
								cursor:"pointer"
							});

							(function(){
								var index = i;
								var _iw = createInfoWindow(i);
								var _marker = marker;
								_marker.addEventListener("click",function(){
									this.openInfoWindow(_iw);
								});
								_iw.addEventListener("open",function(){
									_marker.getLabel().hide();
								})
								_iw.addEventListener("close",function(){
									_marker.getLabel().show();
								})
								label.addEventListener("click",function(){
									_marker.openInfoWindow(_iw);
								})
								if(!!json.isOpen){
									label.hide();
									_marker.openInfoWindow(_iw);
								}
							})()
						}
					}
					//创建InfoWindow
					function createInfoWindow(i){
						var json = markerArr[i];
						var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
						return iw;
					}
					//创建一个Icon
					function createIcon(json){
						var icon = new BMap.Icon("http://map.baidu.com/image/us_cursor.gif", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
						return icon;
					}

					initMap();//创建和初始化地图
				</script>
		</div>

	</div>

	<div class="xshidden row-md-1">&nbsp;</br></br></div>
	<div>
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-9">
			<p class="cu2">
               {$ad.config_content}
            </p>
		</div>
	</div>

</div>
<div class="row-md-1">&nbsp;</br></br></div>
