<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allCategorys.html">招聘管理</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allCategorys.html">职位信息</a>
            </div>
        </div>
    </div>
    <div class="well">
        <p style="font-size:26px;margin-left:42%;margin-top:3%;">职位信息</p>
        <hr/>
        <div class="well brown" style="margin-left:2%;margin-right:20%;">
            <form action="{:U('admin/common/manage')}">

                <table class="insert-tab" width="100%" >
                    <tbody>
                    <volist name="result" id="data">
                        <tr>
                            <th width="20%">职位名称：</th>
                            <td>{$data.name}</td>
                        </tr>
                        <tr>
                            <th>职务类别：</th>
                            <td>{$data.type}</td>
                        </tr>
                        <tr>
                            <th>工作地点：</th>
                            <td>{$data.place}</td>
                        </tr>
                        <tr>
                            <th>岗位描述：</th>
                            <td>{$data.introduce|htmlspecialchars_decode}</td>
                        </tr>
                        <tr>
                            <th>职位要求：</th>
                            <td>{$data.require|htmlspecialchars_decode}</td>
                        </tr>
                    </volist>


                    </tbody></table>

            </form>
        </div>
        <!-- Content end -->
    </div>
</div>
</body>
</html>
