
<head>
	<title>新版快递页</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="__PUBLIC__/css/recruit.css"  type="text/css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/CityJson.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/ProJson.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/DistrictJson.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			//测试jquery文件是否引入成功
			console.log('succeed');
			//根据省id获取市
			$("select[name='provice']").change(function(){
				//发送请求
				$.post('../send/province',
						{'parentid':$(this).val()}, function(data){
							//替换市区数据
							$("select[name='city']").html(null);
							var citys=JSON.parse(data);
							for(var i in citys){
								var str = '<option value='+citys[i]['linkageid']+'>'+citys[i]['name']+'</option>'
								var option = $(str);

								$("select[name='city']").append(option);
							}
						});
			});


			//根据省id获取市获取区县
			$("select[name='city']").change(function(){
				//发送请求
				var self=$(this);
//			console.log(self);
				$.post('../send/province',
						{'parentid':self.val()}, function(data){
							//替换市区数据
							var areas=JSON.parse(data);

							for(var i in areas){
								var str = '<option value='+areas[i]['id']+'>'+areas[i]['name']+'</option>'
								var option = $(str);
								$("select[name='district']").append(option);
							}
						});
			});

		});
	</script>


</head>
	<div class="container">
		<div class="text-center">
			<div class="big">
				<div>
				<img src="__PUBLIC__/images/send/u321.png">
				样品寄送
				<img src="__PUBLIC__/images/send/u321.png">
				</div>			
			</div>		
			<div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
		</div>


		<!-- 第一行 -->
		<div class="row ">
			<div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-0 black">
				<form class="form-horizontal" role="form" action="../send/addsend" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="name" class="col-md-2 col-xs-4 control-label font1">姓名</label>
						<div class="col-md-10">
							<input type="text" class="form-control" name="username" id="name" style="width:50%;"
							placeholder="请输入姓名">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-2 col-xs-4 control-label font1">姓名</label>
						<div class="col-md-6">
							<p>请输入性别:</p>
							</div>
						<div class="col-md-4 col-md-pull-5">
							<input type="radio" value="男" name="sex">男
							<input type="radio" vaule="女" name="sex">女
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-md-2 col-xs-4 control-label font1">地址</label>
						<div class="col-md-10 col-xs-6 font2" >
							<!-- json开始 -->
							<select  name="provice" id="selProvince">
								<option value="0">--请选择省份--</option>
								<volist name="result" id="data" offset="1" length='34'>
									<option value="{$data.linkageid}">--{$data.name}--</option>
								</volist>
							</select>
							<select  name="city" id="selCity">
								<option value="0">--市--</option>
							</select>
							<select  name="district" id="selDistrict">
								<option value="0">--区/县--</option>
							</select>
							<!-- json结束 -->
						</div>
						<div class="col-md-10 col-xs-10 col-xs-push-4 col-md-push-0">

							<input type="text" class="form-control" id="address" style="width:50%;" 
							placeholder="请输入详细街道信息"  name="town">
							<p class="font3">(若无您所在省份请手动全部地址信息)</p>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-2 col-xs-4 control-label font1">姓名</label>
						<div class="col-md-10">
							<input type="text" class="form-control" name="email" id="email" style="width:50%;"
								   placeholder="请输入邮箱">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-md-2 col-xs-4 control-label font1">电话</label>
						<div class="col-md-10">
							<input type="text" class="form-control" name="phone" id="phone" style="width:50%;"
							placeholder="请输入手机号">
						</div>
					</div>
					<div class="form-group">
						<label for="yanzhen" class="col-md-2 col-xs-5 col-xs-offset-0 control-label font1">
							验证码
						</label>
						<div class="col-md-10 col-md-12">
						    <div class="col-md-4 col-xs-5 col-xs-pull-1 col-md-pull-0">
							<input type="text" class="form-control" id="phone" style="width:50%;" 
							placeholder="请输入验证码">
							</div>
							<div class="col-md-4 col-xs-2 col-xs-pull-3 col-md-pull-1">
							<img id="img_code" src="__PUBLIC__/images/send/checkcode.php">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10 col-xs-10 col-md-offset-4 col-xs-offset-4 ">
							<button type="submit" class="btn btn-default">提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row-md-1">&nbsp;</br></br></div>

