<div class="container col-md-12 font-family"style="padding:0px">
    <div class="container col-md-12" style="padding:0px">
        <div>
            <div class="carousel slide" >

                <div class="carousel-inner">
                    <div class="item active" >
                        <volist name="bigtu" id="big">
                            <img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
                        </volist>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin:0px">
            <div>

                <ul class="breadcrumb ">

                    <li>
                        您所在的位置:
                        <a href="/index.php/home/index/index">首页</a>
                    </li>

                    <li class="active">

                        职业中心
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row xshidden">
        <div class="col-md-2 col-xs-3"></div>
        <div class="col-md-8 col-md-offset-2 col-xs-9 col-xs-offset-0">
            <div class="content-nav">
                <div class="col-md-4 text-center col-xs-5">
                    <div class="content-nav-icon">
                        <a href="#box1"><img src="__PUBLIC__/images/protechnology/u3.png" name="u3" class="img-change" /></a>
                        <h3 class="nav-font">人才理念</h3>
                        <p>get more......</p>
                    </div>
                    <img src="__PUBLIC__/images/career/u297.png" class="content-nav-line">
                </div>
            </div>

            <div class="content-nav">
                <div class="col-md-3 text-center col-xs-3">
                    <div class="content-nav-icon">
                        <a href="#box2"><img src="__PUBLIC__/images/protechnology/u7.png" name="u7" class="img-change"></a>
                        <h3 class="nav-font">岗位招聘</h3>
                        <p>get more......</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    
    <div class="text-center">
    <div class="mdhidden row-md-1">&nbsp;</div>
    <div class="xshidden row-md-1">&nbsp;</br></br></br></br></br>
    <div id="box1"></div>
    </br></div>
        <div class="big">
            <div>
                <img src="__PUBLIC__/images/career/u321.png">
                人才理念
                <img src="__PUBLIC__/images/career/u321.png">
            </div>
        </div>
        <div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
    </div>
    <div class="xshidden row-md-1">&nbsp;</div>

    <div class="row">

        <div class="col-md-6">
            <div class="col-md-3 col-xs-2">
                <img class="bule6" src="__PUBLIC__/images/company/6b.png">
            </div>
            <div class="col-md-8 col-xs-7">
                <div class="row-md-1">&nbsp;</br></br></div>
                <div class="t1" class="row-md-10">
                    我们的<a class="ba1">要求</a>
                </div>
            </div>
        </div>
    </div>

    <div class="xshidden row-md-1">&nbsp;</div>
    <div class="row-md-1">&nbsp;</br></br></div>
    <div class="row clearfix">
            <div class="col-md-2 col-xs-1">
            </div>
            <div class="col-md-5 col-xs-7">
                <div class="row center31">
                    <div class="col-md-1"></div>
                    <div class="col-md-9 col-xs-10 gleft">
                        <h2>
                            NO.1
                        </h2>
                        <p class="size4444">
                            <volist name="career" id="advan" offset="0" length="1">
                                {$advan.content}
                        </p>
                        <p>
                        </p><img alt="140x140" src="__PUBLIC__/upload/{$advan.image}" />
                    </div>
                    </volist>
                </div>
            
                <div class="row-md-6">&nbsp;</br></br></br></br></div>
                <div class="row center31">
                    <div class="col-md-1"></div>
                    <div class="col-md-9 col-xs-10 gleft">
                        <h2>
                            NO.2
                        </h2>
                        <p class="size4444">
                            <volist name="career" id="advan" offset="1" length="1">
                                {$advan.content}
                        </p>
                        <p>
                        </p><img alt="140x140" src="__PUBLIC__/upload/{$advan.image}" />
                    </div>
                    </volist>
                </div>
            </div>
            <div class="row-md-6">&nbsp;</br></br></br></br></br></br></br></br></div>

            <div class="col-md-5 col-xs-7 col-xs-push-1 col-md-push-0">

                <div class="row-xs-5">&nbsp;</br></br></br></br></div>
                <div class="row center31">
                    <div class="col-md-1"></div>
                    <div class="col-md-9 col-xs-10 gleft">
                        <h2>
                            NO.3
                        </h2>
                        <p class="size4444">
                            
                            <volist name="career" id="advan" offset="2" length="1">
                                {$advan.content}
                            
                        </p>
                        <p>
                        </p><img alt="140x140" src="__PUBLIC__/upload/{$advan.image}" />
                    </div>
                    </volist>
                </div>
                <div class="row-md-6">&nbsp;</br></br></br></br></div>
                <div class="row center31">
                    <div class="col-md-1 col-xs-0"></div>
                    <div class="col-md-9 col-xs-10 gleft">
                        <h2>
                            NO.4
                        </h2>
                        <p class="size4444">
                        <volist name="career" id="advan" offset="3" length="1">
                            {$advan.content}
                        </p>
                        <p>
                        </p><img alt="140x140" src="__PUBLIC__/upload/{$advan.image}" />
                    </div>
                    </volist>
                </div>
            </div>
        </div>

    <div class="xshidden row-md-1">&nbsp;</div></br></br></br>
    <div id="box2"></div>
    <div class="text-center">
        <div class="big">
            <div>
                <img src="__PUBLIC__/images/career/u321.png">
                岗位招聘
                <img src="__PUBLIC__/images/career/u321.png">
            </div>
        </div>
        <div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
    </div></br>
    <div class="xshidden row-md-1">&nbsp;</br></br></div>

    <div class="row">
        <div class="col-md-1 col-xs-1">
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center th">
                                职位名称
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center th">
                                职位类别
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center th">
                                工作地点
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center th">
                                详情
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <volist name="station" id="advan" offset="0" length="1"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="row biaobei">
                       <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.name}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.type}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.place}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-185091" href="#"><img src="__PUBLIC__/images/career/u2831.png"></a>

                            </h3>
                        </div>
                    
                    </div>
                </div>
            </div>

            <div  class="panel-collapse collapse myspan">
                <div class="panel-body">
                    <p class="cu1">岗位描述：</p>
                    {$advan.introduce}
                    <p class="cu1">职业要求：</p>
                    {$advan.require}
                </div>
            </div>
            </volist>
            <volist name="station" id="advan" offset="1" length="1"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="row biaobei2">
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.name}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.type}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.place}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-185091" href="#"><img src="__PUBLIC__/images/career/u2831.png"></a>

                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="panel-collapse collapse myspan">
                <div class="panel-body">
                    <p class="cu1">岗位描述：</p>
                    {$advan.introduce}
                    <p class="cu1">职业要求：</p>
                    {$advan.require}
                </div>
            </div>
            </volist>
            <volist name="station" id="advan" offset="2" length="1"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="row biaobei">
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.name}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.type}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.place}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-185091" href="#"><img src="__PUBLIC__/images/career/u2831.png"></a>

                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="panel-collapse collapse myspan">
                <div class="panel-body">
                    <p class="cu1">岗位描述：</p>
                    {$advan.introduce}
                    <p class="cu1">职业要求：</p>
                    {$advan.require}
                </div>
            </div>
            </volist>
            <volist name="station" id="advan" offset="3" length="1"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="row biaobei2">
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.name}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.type}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                {$advan.place}
                            </h3>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <h3 class="text-center td">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-185091" href="#"><img src="__PUBLIC__/images/career/u2831.png"></a>

                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="panel-collapse collapse myspan">
                <div class="panel-body">
                    <p class="cu1">岗位描述：</p>
                    {$advan.introduce}
                    <p class="cu1">职业要求：</p>
                    {$advan.require}
                </div>
            </div>
            </volist>
        </div>

        <div class="col-md-1">
        </div>
    </div>

</div>
<div class="jianli text-center td col-md-12 col-xs-12 col-md-pull-3 col-xs-pull-1">
    简历发送到：<a><volist name="email" id="em">
                            {$em.config_content}
                            </volist></a>
</div>
<div class="row-md-1">&nbsp;</br></br></br></br></div>
<div class="xshidden row-md-1">&nbsp;</br></br></div>
<script>
$(".panel-title").click(function () {
var num=$(".panel-title").index(this);
$(".myspan").each(function () {
$(this).removeClass("in");
})
$(".myspan").eq(num).addClass("in");
})
</script>