<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="#">职员管理</a>

            </div>
        </div>
        <div class="well">

            <a href="{:U('admin/user/add')}" style="color:#000;"><i class="icon-font"></i>&nbsp;&nbsp;添加职员</a>
            <div class="well-content" style="margin-top: 1%;">

                <table class="result-tab" width="100%">
                    <thead>
                    <tr>

                        <th width="5%">ID</th>
                        <th width="8%">姓名</th>
                        <th width="4%">性别</th>
                        <th width="8%">职位</th>
                        <th width="10%">手机号</th>
                        <th width="15%">家庭地址</th>
                        <th width="10%">管理操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="user" id="vo">
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.username}</td>
                            <if condition="$vo.sex eq 1 ">
                                <td>男</td>
                                <else />
                                <td>女</td>
                            </if>

                            <td>{$vo['role']['rolename']}</td>

                            <td>{$vo.phone}</td>
                            <td>{$vo.address}</td>

                            <td>
                                <a class="btn" href="/admin/user/manage/id/{$vo.userid}" title="修改">修改</a>
                                <a class="btn" href="/admin/user/del/id/{$vo.userid}" title="删除">删除</a>
                                <a class="btn" href="/admin/user/show/id/{$vo.userid}" title="查看">查看</a>
                            </td>
                        </tr>
                    </volist>


                    </tbody>
                </table>
            </div>

        </div>
        <!-- Content end -->
    </div>
</div>
</body>
</html>
