<div class="container col-md-12 font-family"style="padding:0px">
	<div class="container col-md-12" style="padding:0px">
		<div>
			<div class="carousel slide" >

				<div class="carousel-inner">
					<div class="item active" >
						<volist name="bigtu" id="big">
							<img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
						</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix" style="margin:0px">
			<div>

				<ul class="breadcrumb ">

					<li>
						您所在的位置:
						<a href="/home/index/index">首页</a>
					</li>
					<li>

						<a href="/home/peoTechnology/index">产品中心</a>
					</li>

					<li class="active">

						产品内容
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container col-md-12">
	<div class="row">&nbsp</br></br></br></div>
	<div class="container">
		<div class="text-center">
			<div class="big">
				<div>
					<img src="__PUBLIC__/images/newslist/u321.png">
					硬杂木生物质材料
					<img src="__PUBLIC__/images/newslist/u321.png">
				</div>
			</div>
			<div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
		</div>
		<!--第一部分，内容标题+下划线+产品标题-->
		<div class="row">&nbsp</br></br></div>
		<div class="row nc_first_top"></div>
		<div class="row nc_first">
			<div class="xshidden row">&nbsp</br></br></div>

				<div class="col-md-8 nc_first_left">



					<div class="col-md-12 col-xs-12">













						<!--第二部分结束-->
						<!--第三部分开启-->





						</div>
						<!--第三部分结束-->

		</div>
	</div>


		<script type="text/javascript">
			$(document).ready(function() {

				//点击小图切换大图
				$("#thumbnail li a").click(function() {
					// console.log("点击");
					// console.log($(this).children(':first').attr("src"));
					$(".zoompic img").hide().attr({"src": $(this).children(':first').attr("src"), "title": $("> img", this).attr("title")});
					$("#thumbnail li.current").removeClass("current");
					$(this).parents("li").addClass("current");
					// $textcontent=$(this).children(':second').val();
					// console.log($textcontet);
					// $("#content").text("$textcontent");



					return false;
				});
				$(".zoompic>img").load(function() {
					$(".zoompic>img:hidden").show();
				});

				//小图片左右滚动
				var $slider = $('.slider ul');
				var $slider_child_l = $('.slider ul li').length;
				var $slider_width = $('.slider ul li').width();
				$slider.width($slider_child_l * $slider_width);

				var slider_count = 0;

				if ($slider_child_l < 5) {
					$('#btn-right').css({cursor: 'auto'});
					$('#btn-right').removeClass("dasabled");
				}

				$('#btn-right').click(function() {
					if ($slider_child_l < 5 || slider_count >= $slider_child_l - 5) {
						return false;
					}

					slider_count++;
					$slider.animate({left: '-=' + $slider_width + 'px'}, 'slow');
					slider_pic();
				});

				$('#btn-left').click(function() {
					if (slider_count <= 0) {
						return false;
					}
					slider_count--;
					$slider.animate({left: '+=' + $slider_width + 'px'}, 'slow');
					slider_pic();
				});

				function slider_pic() {
					if (slider_count >= $slider_child_l - 5) {
						$('#btn-right').css({cursor: 'auto'});
						$('#btn-right').addClass("dasabled");
					}
					else if (slider_count > 0 && slider_count <= $slider_child_l - 5) {
						$('#btn-left').css({cursor: 'pointer'});
						$('#btn-left').removeClass("dasabled");
						$('#btn-right').css({cursor: 'pointer'});
						$('#btn-right').removeClass("dasabled");
					}
					else if (slider_count <= 0) {
						$('#btn-left').css({cursor: 'auto'});
						$('#btn-left').addClass("dasabled");
					}
				}

			});
		</script>

		<style type="text/css">
			#thumbnail ul{
				margin:0;
				padding:0;
				list-style-type:none;}
			.zoombox{
				width:686px;
				margin:20px auto 0 auto;}
			.zoompic{
				border:solid 1px #dfdfdf;
				width:684px;
				height:394px;
				background:url(url(__PUBLIC__/images/productContent/loading.gif) no-repeat 50% 50%;}

			.sliderbox{
				height:76px;
				overflow:hidden;
				margin:6px 0 0 0;}
			.sliderbox .arrow-btn{
				width:38px;
				height:76px;
				background:url(__PUBLIC__/images/productContent/arrow-btn.png) no-repeat;
				cursor:pointer;}
			.sliderbox #btn-left{
				float:left;
				background-position:0 0;
			}
			.sliderbox #btn-left.dasabled{
				background-position:0 -76px;}
			.sliderbox #btn-right{
				float:right;
				background-position:-38px 0;}
			.sliderbox #btn-right.dasabled{
				background-position:-38px -76px;
			}
			.sliderbox .slider{
				float:left;height:76px;width:605px;
				position:relative;
				overflow:hidden;margin:0 0 0 3px;
				display:inline;
			}
			.sliderbox .slider ul{
				position:absolute;
				left:0;
				width:999em;}
			.sliderbox .slider li{
				float:left;
				width:121px;
				height:76px;
				text-align:center;}
			.sliderbox .slider li img{
				border:solid 1px #dfdfdf;}
			.sliderbox .slider li.current img{
				border:solid 1px #3366cc;
			}
			#content{
				position:relative;
				top:30px;

				width:100%;

			}
		</style>

		<div class="zoombox">
			<volist name="product" id="bigimg">
			<div class="zoompic"><img src="__PUBLIC__/upload/{$bigimg.image}" width="684" height="394" alt=""></div>
			</volist>

			<div class="sliderbox">
				<div id="btn-left" class="arrow-btn dasabled"></div>
				<div class="slider" id="thumbnail" >
					<ul style="width: 847px;">
						<volist name="product" id="firstimg">
						<li class="current"><a href="#" target="_blank"><img src="__PUBLIC__/upload/{$firstimg.image}" width="115" height="74" alt=""><p style="display:none">6</p></a></li>
						</volist>
						<volist name="img" id="imgdata">
						<li><a href="#" target="_blank"><img src="__PUBLIC__/upload/{$imgdata.proimgpath}" width="115" height="74" alt=""></a></li>
						</volist>

																</ul>
				</div>
				<div id="btn-right" class="arrow-btn"></div>
			</div>
			<div id="content">
				<p>
					<volist name="product" id="procontent">
					{$procontent.content|htmlspecialchars_decode=###}
					</volist>
				</p>
			</div>

		</div>
</div>
<!--第一部分结束-->
</div>
</div>
<div class="row-md-1">&nbsp;</br></br></div>