
  <style type="text/css">
			
		UL {
			PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
		}
		OL {
			PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
		}
		LI {
			PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
		}
		DIV {
			TEXT-ALIGN: left; OVERFLOW: hidden
		}
		IMG {
			BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; BORDER-LEFT-WIDTH: 0px
		}
		.picshow {
			BORDER-BOTTOM: #d9e0ea 1px solid; BORDER-LEFT: #d9e0ea 1px solid; MARGIN: 0px auto; WIDTH: 958px; HEIGHT: 620px; BORDER-TOP: #d9e0ea 1px solid; BORDER-RIGHT: #d9e0ea 1px solid
		}
		#picarea {
			MARGIN: 0px auto; WIDTH: 958px; BACKGROUND: #fff; HEIGHT: 620px
		}
		#bigpicarea {
			POSITION: relative; MARGIN: 0px auto; WIDTH: 774px; HEIGHT: 482px; OVERFLOW: hidden
		}
		.image {
			TEXT-ALIGN: center
		}
		.image IMG {
			BORDER-BOTTOM: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid; MARGIN: 0px auto; BORDER-TOP: #ececec 1px solid; BORDER-RIGHT: #ececec 1px solid
		}
		#bigpicarea .word {
			TEXT-ALIGN: center; HEIGHT: 50px; COLOR: #333
		}
		#bigpicarea .word H3 {
			TEXT-ALIGN: center; LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #333; FONT-SIZE: 14px
		}
		#bigpicarea .ui-els-hide {
			DISPLAY: none
		}
		#thumbs {
			LIST-STYLE-TYPE: none; MARGIN: 0px auto; WIDTH: 830px; HEIGHT: 110px
		}
		* HTML #thumbs {
			HEIGHT: 100%
		}
		#thumbs LI {
			MARGIN: 0px 7px; WIDTH: 90px; DISPLAY: inline; FLOAT: left; HEIGHT: 60px
		}
		#thumbs UL {
			MARGIN-TOP: 3px
		}
		#thumbs LI.last_img {
			MARGIN-RIGHT: 4px
		}
		#thumbs LI.first {
			MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
		}
		#thumbs LI.last {
			MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
		}
		#thumbs LI A {
			BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 90px; DISPLAY: block; FONT-SIZE: 0px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
		}
		#thumbs LI A:hover {
			BORDER-BOTTOM: #000 2px solid; BORDER-LEFT: #000 2px solid; BORDER-TOP: #000 2px solid; BORDER-RIGHT: #000 2px solid
		}
		#thumbs LI A.current {
			BORDER-BOTTOM: #f8ae0f 2px solid; BORDER-LEFT: #f8ae0f 2px solid; BORDER-TOP: #f8ae0f 2px solid; BORDER-RIGHT: #f8ae0f 2px solid
		}
		#thumbs LI.first IMG {
			
		}
		#thumbs LI.last IMG {
			
		}
		.bigbtnPrev {
			Z-INDEX: 100; POSITION: absolute; WIDTH: 35px; HEIGHT: 51px; TOP: 186px; CURSOR: pointer; LEFT: 30px
		}
		.bigbtnNext {
			Z-INDEX: 100; POSITION: absolute; WIDTH: 35px; HEIGHT: 51px; TOP: 186px; CURSOR: pointer; RIGHT: 30px
		}
		#big_play_prev {
			BACKGROUND-IMAGE: url(../images/leftbig.png); WIDTH: 35px; DISPLAY: block; HEIGHT: 51px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/leftbig.png')
		}
		#big_play_next {
			BACKGROUND-IMAGE: url(../images/rightbig.png); WIDTH: 35px; DISPLAY: block; HEIGHT: 51px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/rightbig.png')
		}
		#smallpicarea {
			MARGIN: 0px auto; WIDTH: 958px; BORDER-TOP: #ececec 1px solid; PADDING-TOP: 20px
		}

  </style>
  <script type="text/javascript">
  	var target = ["xixi-01","xixi-02","xixi-03","xixi-04","xixi-05","xixi-06","xixi-07"];

  	var timer = null;
var offset = 5000;
var index = 0;

//´óÍ¼½»ÌæÂÖ»»
function slideImage(i){
    var id = 'image_'+ target[i];
    $('#'+ id)
        .animate({opacity: 1}, 800, function(){
            $(this).find('.word').animate({height: 'show'}, 'slow');
        }).show()
        .siblings(':visible')
        .find('.word').animate({height: 'hide'},'fast',function(){
            $(this).parent().animate({opacity: 0}, 800).hide();
        });
}
//bind thumb a
function hookThumb(){    
    $('#thumbs li a')
        .bind('click', function(){
            if (timer) {
                clearTimeout(timer);
            }                
            var id = this.id;            
            index = getIndex(id.substr(6));
            rechange(index);
            slideImage(index); 
            timer = window.setTimeout(auto, offset);  
            this.blur();            
            return false;
        });
}
//bind next/prev img
function hookBtn(){
    $('#thumbs li img').filter('#play_prev,#play_next')
        .bind('click', function(){
            if (timer){
                clearTimeout(timer);
            }
            var id = this.id;
            if (id == 'play_prev') {
                index--;
                if (index < 0) index = 6;
            }else{
                index++;
                if (index > 6) index = 0;
            }
            rechange(index);
            slideImage(index);
            timer = window.setTimeout(auto, offset);
        });
}

function bighookBtn(){
    $('#bigpicarea p span').filter('#big_play_prev,#big_play_next')
        .bind('click', function(){
            if (timer){
                clearTimeout(timer);
            }
            var id = this.id;
            if (id == 'big_play_prev') {
                index--;
                if (index < 0) index = 6;
            }else{
                index++;
                if (index > 6) index = 0;
            }
            rechange(index);
            slideImage(index);
            timer = window.setTimeout(auto, offset);
        });
}

//get index
function getIndex(v){
    for(var i=0; i < target.length; i++){
        if (target[i] == v) return i;
    }
}
function rechange(loop){
    var id = 'thumb_'+ target[loop];
    $('#thumbs li a.current').removeClass('current');
    $('#'+ id).addClass('current');
}
function auto(){
    index++;
    if (index > 6){
        index = 0;
    }
    rechange(index);
    slideImage(index);
    timer = window.setTimeout(auto, offset);
}
$(function(){    
    //change opacity
    $('div.word').css({opacity: 0.85});
    auto();  
    hookThumb(); 
    hookBtn();
	bighookBtn()
    
});
  </script>
<div class="container col-md-12 font-family"style="padding:0px">
	<div class="container col-md-12" style="padding:0px">
		<div>
			<div class="carousel slide" >

				<div class="carousel-inner">
					<div class="item active" >
						<volist name="bigtu" id="big">
						<img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
					</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix" style="margin:0px">
			<div>

				<ul class="breadcrumb ">

					<li>
						您所在的位置:
						<a href="/home/index/index">首页</a>
					</li>
					<li>

						<a href="/home/protechnology/index">产品中心</a>
					</li>
					<li class="active">
						产品内容

					</li>

				</ul>
			</div>
		</div>
	</div>
</div>

<volist name="product" id="data">
	<div class="row">
		<div class="text-center">
			<div class="big">
				<img src="__PUBLIC__/images/productContent/u321.png">
				{$data.name}生物质材料
				<img src="__PUBLIC__/images/productContent/u321.png">
			</div>
			<p style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</p>
		</div>
	</div>
</volist>
      
        <div class="col-md-12">
	       
        	<div class="col-md-8">
<DIV style="HEIGHT: 560px; PADDING-TOP: 20px" class="wrap picshow">
<DIV id=picarea>
<DIV style="MARGIN: 0px auto; WIDTH: 774px; HEIGHT: 436px; OVERFLOW: hidden">
<DIV style="MARGIN: 0px auto; WIDTH: 774px; HEIGHT: 436px; OVERFLOW: hidden" id=bigpicarea>
<P class=bigbtnPrev><SPAN id=big_play_prev></SPAN></P>
<DIV id=image_xixi-01 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42766101.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-02 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42813100.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-03 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42813102.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-04 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42813139.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-05 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42766145.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-06 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42766146.jpg" width=772 height=434></A> 
</DIV>
<DIV id=image_xixi-07 class=image><A href="http://www.poluoluo.com/" target=_blank><IMG alt="" 
src="__PUBLIC__/upload/42766159.jpg" width=772 height=434></A> 
</DIV>
<P class=bigbtnNext><SPAN id=big_play_next></SPAN></P></DIV></DIV>
<DIV id=smallpicarea>
<DIV id=thumbs>
<UL>
  <LI class="first btnPrev"><IMG id=play_prev src="__PUBLIC__/upload/left.png"></LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-01 href="#"><IMG src="__PUBLIC__/upload/42766316.jpg" width=90 height=60></A>
  </LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-02 href="#"><IMG src="__PUBLIC__/upload/42813171.jpg" width=90 height=60></A>
  </LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-03 href="#"><IMG src="__PUBLIC__/upload/42813178.jpg" width=90 height=60></A>
  </LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-04 href="#"><IMG src="__PUBLIC__/upload/42813186.jpg" width=90 height=60></A>
  </LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-05 href="#"><IMG src="__PUBLIC__/upload/42766362.jpg" width=90 height=60></A>
  </LI>
  <LI class=slideshowItem>
  <A id=thumb_xixi-06 href="#"><IMG src="__PUBLIC__/upload/42766274.jpg" width=90 height=60></A>
  </LI>
  <LI class="last_img slideshowItem">
  <A id=thumb_xixi-07 href="#"><IMG src="__PUBLIC__/upload/42766298.jpg" width=90 height=60></A>
  </LI>
  <LI class="last btnNext"><IMG id="play_next" src="__PUBLIC__/upload/right.png"></LI>
</UL></DIV></DIV>  		
        	</div>

   
            
            
            <div class="col-md-4 col-md-push-0">
            <div class="col-md-1 hidden-xs"><img src="__PUBLIC__/images/newslist/u1690.png"></div>
            <div class="col-md-11">
                <div class="row news_push_title">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-5  col-xs-8 news_push_title_first">产品展示</div>
                </div>
                <div class="row right_first_hr">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-9  right_hr_p"><hr style=" height:2px;border:none;border-top:1px  solid #000;" />
                    </div>
                </div>
                
                <!--第四部分开始-->

                <div class="row">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="0" length="1">
                            <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}">
                            </a></volist>
                    </div>
                    
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="1" length="1">
                            <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}">
                            </a></volist>
                   </div>
                </div>
                <div class="row right_first_word">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-xs-4  col-md-4 right_first_word_first">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="0" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                   
                    <div class="col-xs-4 right_first_word_second">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="1" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="2" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}"></a>
                            </volist>
                    </div>
                    
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="3" length="1"><a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}"></a></volist></div>
                </div>

                <div class="row right_first_word">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-xs-4  col-md-4 right_first_word_first">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="2" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                    
                    <div class="col-xs-4 right_first_word_second">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="3" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                </div>

                <!--第四部分结束-->
                <!--第五部分开始-->
                <div class="row">&nbsp</div>
                <div class="row news_push_title">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-5  col-xs-8 news_push_title_first">新闻推荐</div>
                </div>
                <div class="row right_first_hr">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-9  right_hr_p"><hr style=" height:2px;border:none;border-top:1px  solid #000;" />
                    </div>
                </div>

                <div class="row news_push_content"><div class="col-md-2 col-xs-1">&nbsp</div><div class="col-md-8">
                                    </div></div>
                <volist name="recommonnews" id="data">
                <div class="row news_push_content"><div class="col-md-1 col-xs-1">&nbsp</div><div class="col-md-8"><a href="/home/newscontent/index/id/{$data.commonid}">{$data.title|mb_substr=###,0,15,'utf-8'}..</a></div></div>
                </volist>

                <!--第五部分结束-->
                <!--第六部分开始-->
                <div class="row">&nbsp</div>


                               <!--第六部分结束-->
            </div>
</div>


	<div class="col-md-12">
		<div class="end col-md-12 text-center">
			<div style="font-size:25px; font-family:Axure Handwriting ">
				<img src="__PUBLIC__/images/productContent/u321.png" class="kuny-up">
				END
				<img src="__PUBLIC__/images/productContent/u321.png" class="kuny-up">
			</div>
		</div>
	</div>
	<!--content-end-->
<div class="row-md-1">&nbsp;</br></br></div>
