<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"  href="__PUBLIC__/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container col-md-12">

    <div class="row">
        <div>
            <nav class="navbar navbar-default-me navbar-fixed-top    " role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">坤源</a>
                        <p class="navbar-text">——科技改变生活</p>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav    ">
                        <li class="">
                            <a href="/home/index/index">首页</a>
                        </li>
                        <li>
                            <a href="/home/company/index">公司简介</a>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">产品中心<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/ProTechnology/index" style="color:#fff">产品技术</a>
                                </li>
                                <li>
                                    <a href="/home/ProTechnology/index" style="color:#fff">产品展示</a>
                                </li>
                                <li>
                                    <a href="/home/ProTechnology/index"style="color:#fff">销售范围</a>
                                </li>
                                <li>
                                    <a href="/home/ProTechnology/index"style="color:#fff">样品寄送</a>
                                </li>



                            </ul>

                        </li>
                        <li>
                            <a href="/home/news/index">新闻中心</a>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">环境与社会   <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/ES/index" style="color:#fff">社会需求</a>
                                </li>
                                <li>
                                    <a href="/home/ES/index"style="color:#fff">政策支持</a>
                                </li>
                                <li>
                                    <a href="/home/ES/index"style="color:#fff">燃料地域限制</a>
                                </li>


                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">职业中心<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/career/index"style="color:#fff">人才理念</a>
                                </li>
                                <li>
                                    <a href="/home/career/index"style="color:#fff">岗位招聘</a>
                                </li>


                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">联系我们<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/contactus/index" style="color:#fff">联系方式</a>
                                </li>
                                <li>
                                    <a href="/home/contactus/index"style="color:#fff">加入我们</a>
                                </li>
                                <li>
                                    <a href="/home/contactus/index"style="color:#fff">客户留言</a>
                                </li>

                            </ul>

                        </li>

                    </ul>



                    <form action="#" class="navbar-form navbar-right   ">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入关键词" />
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>

                </div>

            </nav>
        </div>
    </div>

    <div class="container col-md-12">
        <div>
            <div class="carousel slide" >

                <div class="carousel-inner">
                    <div class="item active" >
                        <img  src="__PUBLIC__/images/company/5_u286.jpg" width="100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin:0px">
            <div>


            </div>
        </div>
    </div>
</div>
{__CONTENT__}
<div class="container col-md-12">
    <div class="row clearfix footer-color">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
            <div class="row clearfix">

                <div class="col-md-3 column">
                    <h3 >
                        公司宗旨
                    </h3>
                    <br/>
                    <div>
                        <p>

                            生物质颗粒燃料是大自然恩赐于我们的可再生的能源，它是响应中央号召，创造节约性社会。地球是我家，环保靠大家面对渐渐恶化的环境，面对渐渐加重的雾霾，让我们行动起来吧！！！


                        </p>
                    </div>
                </div>
                <div class="col-md-1 text-cennter crave">
                    <img style="padding-top:55px;margin-left:40px" class="img-responsive " src="__PUBLIC__/images/index/u165.png" alt="" height="100px">

                </div>
                <div class="col-md-3 column">
                    <h3 >
                        相关链接
                    </h3>
                    <br/>
                    <div class="text-center">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">————生物质燃料百度百科</a>
                            </li>
                            <li>
                                <a href="#">————生物质燃料百度百科</a>
                            </li>
                            <li>
                                <a href="#">————生物质燃料百度百科</a>
                            </li>
                            <li>
                                <a href="#">————生物质燃料百度百科</a>
                            </li>
                            <li>
                                <a href="#">————生物质燃料百度百科</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-1 crave">
                    <img style="padding-top:55px;margin-left:30px"class="img-responsive img-rounded" src="__PUBLIC__/images/index/u165.png" alt="" >
                </div>
                <div class="col-md-3 column ">
                    <h3 >
                        联系我们
                    </h3>

                    <br/>
                    <div class="col-md-4 col-xs-4">
                        <img style="margin-left:10px"class="img-responsive "src="__PUBLIC__/images/index/rotateimage_u122.png" alt="">
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <img style="padding-top:8px;margin-left:10px" class="img-responsive "src="__PUBLIC__/images/index/u126_mouseOver.png" alt="">
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <img style="padding-top:4px;margin-left:10px" class="img-responsive "src="__PUBLIC__/images/index/u128_mouseOver.png" alt="">
                    </div >

                    <div class="col-md-4 col-xs-4">
                        <img style="padding-top:8px;margin-left:15px;"class="img-responsive "src="__PUBLIC__/images/index/u134_mouseOver.png" alt="">
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <img style="padding-top:8px;margin-left:10px" class="img-responsive "src="__PUBLIC__/images/index/u130_mouseOver.png" alt="">
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="bind_hover_card" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                            <img style="padding-top:14px;margin-left:6px" class="img-responsive "src="__PUBLIC__/images/index/u132_mouseOver.png" alt="">
                        </a>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
</div>
</body>

</html>