<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flatpoint - Responsive Web App Template</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/stylesheet.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/index.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/icon/font-awesome.css" rel="stylesheet">
    

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/admin/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/admin/img/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/admin/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/admin/img/apple-touch-icon-57-precomposed.html">
                                  

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>首页</span><span>></span>
                           <span>素材管理</span><span>></span>
                           <span>修改素材</span>
                           
                         </div>
                        <p style="font-size:26px;margin-left:40%;margin-top:3%;">修改素材信息</p>
                           <hr/>
                        <div class="well brown" style="margin-left:34%;">
                         <form action="{:U('admin/common/index')}">
                            
                            <div class="form_list"><label class="lable_title">种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                              <input type="text" list="url_list" class="form-control" name="text" placeholder="请选择素材种类"/>  
                              <datalist id="url_list">
                                 <option label="新闻" value="新闻" />
                                 <option label="政策" value="政策" />
                                 <option label="公司现状" value="公司现状" />
                               </datalist>
                            </div>

                            <div class="form_list"><label class="lable_title">标题名称</label><input class="form_input" type="text"/></div>

                            <div class="form_list"><label class="lable_title">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容</label><input class="form_input" type="text"/></div>

                            <div class="form_list"><label class="lable_title">选择图片&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="file" name="pic" id="pic" accept="image/gif, image/jpeg" />
                            </div>
                            
                            <div class="form_list"><label class="lable_title">所属块数</label><input class="form_input" type="text"/></div>

                            <div class="form_list"><input type="submit" class="submit" value="&nbsp;&nbsp;修&nbsp;&nbsp;改&nbsp;&nbsp;"></div>
                         </form>   
                           
                          
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="__PUBLIC__/admin/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/admin/js/jquery-ui-1.10.3.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.js"></script>

    <script src="__PUBLIC__/admin/js/flatpoint_core.js"></script>

  </body>
</html>
