<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="#">角色管理</a>

            </div>
        </div>
        <div class="well">

            <a href="{:U('admin/role/add')}" style="color:#000;"><i class="icon-font"></i>&nbsp;&nbsp;添加角色</a>
            <div class="well-content" style="margin-top: 1%;">

                <table class="result-tab" width="100%">
                    <thead>
                    <tr>

                        <th width="2%">ID</th>
                        <th width="5%">角色名</th>

                        <th width="6%">角色描述</th>

                        <th width="32%">拥有权限</th>


                        <th width="10%">管理操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="role" id="vo">
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.rolename}</td>
                            <td>{$vo.description}部门</td>
                            <td>
                                <if condition="$vo.product eq 1 ">
                                    产品&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.courier eq 1 ">
                                    样品&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.message eq 1 ">
                                    留言&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.question eq 1 ">
                                    问题&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.news eq 1 ">
                                    新闻&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.policy eq 1 ">
                                    政策&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.common eq 1 ">
                                    公司信息&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.recruit eq 1 ">
                                    招聘&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.admin eq 1 ">
                                    用户&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                                <if condition="$vo.role eq 1 ">
                                    角色&nbsp;&nbsp;/&nbsp;&nbsp;
                                </if>
                            </td>
                            <td>
                                <a class="btn" href="/admin/role/manage/id/{$vo.roleid}" title="修改">修改</a>
                                <a class="btn" href="/admin/role/del/id/{$vo.roleid}" title="删除">删除</a>
                                <a class="btn" href="/admin/role/show/id/{$vo.roleid}" title="查看">查看</a>
                            </td>
                        </tr>
                    </volist>




                    </tbody>
                </table>
            </div>

        </div>
        <!-- Content end -->
    </div>
</div>
</body>
</html>
