<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allCategorys.html">角色管理</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allCategorys.html">修改角色</a>
            </div>
        </div>
    </div>
    <div class="well">
        <form action="/admin/role/manage/id/{$role[0].roleid}" method="post" enctype= "multipart/form-data">
            <table class="insert-tab" width="100%">
                <tbody>

                <tr>
                    <th>角色名称：</th>
                    <td><input class="common-text" name="rolename" size="50" type="text" value="{$role[0].rolename}"></td>
                </tr>
                <tr>
                    <th>所在部门：</th>
                    <td><input class="common-text" name="description" size="50" type="text" value="{$role[0].description}"></td>
                </tr>
                <tr>
                    <th>权限：</th>
                    <td class="tc" >
                        <if condition="$role[0]['product'] eq 1 ">
                            <input  name="product" type="checkbox" checked="checked">
                            <else/>
                            <input  name="product" type="checkbox">
                        </if>产品管理
                        <if condition="$role[0]['courier'] eq 1 ">
                            <input  name="courier" type="checkbox" checked="checked">
                            <else/>
                            <input  name="courier" type="checkbox">
                        </if>样品管理
                        <if condition="$role[0]['message'] eq 1 ">
                            <input  name="message" type="checkbox" checked="checked">
                            <else/>
                            <input  name="message" type="checkbox">
                        </if>留言管理
                        <if condition="$role[0]['question'] eq 1 ">
                            <input  name="question" type="checkbox" checked="checked">
                            <else/>
                            <input  name="question" type="checkbox">
                        </if>问题管理
                        <if condition="$role[0]['news'] eq 1 ">
                            <input  name="news" type="checkbox" checked="checked">
                            <else/>
                            <input  name="news" type="checkbox">
                        </if>新闻管理
                        <if condition="$role[0]['policy'] eq 1 ">
                            <input  name="policy" type="checkbox" checked="checked">
                            <else/>
                            <input  name="policy" type="checkbox">
                        </if>政策管理
                        <if condition="$role[0]['common'] eq 1 ">
                            <input  name="common" type="checkbox" checked="checked">
                            <else/>
                            <input  name="common" type="checkbox">
                        </if>公司信息管理
                        <if condition="$role[0]['recruit'] eq 1 ">
                            <input  name="recruit" type="checkbox" checked="checked">
                            <else/>
                            <input  name="recruit" type="checkbox">
                        </if>招聘管理
                        <if condition="$role[0]['admin'] eq 1 ">
                            <input  name="admin" type="checkbox" checked="checked">
                            <else/>
                            <input  name="admin" type="checkbox">
                        </if>用户管理
                        <if condition="$role[0]['role'] eq 1 ">
                            <input  name="role" type="checkbox" checked="checked">
                            <else/>
                            <input  name="role" type="checkbox">
                        </if>角色管理</td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn btn-primary btn6 mr10" style="color:#ffffff;" value="修改" type="submit" name="submit">
                        <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>

                </tbody></table>
        </form>
    </div>
    <!-- Content end -->
</div>

</body>
</html>
