<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flatpoint - Responsive Web App Template</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/allp.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/stylesheet.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/index.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/icon/font-awesome.css" rel="stylesheet">
    

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/admin/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/admin/img/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/admin/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/admin/img/apple-touch-icon-57-precomposed.html">
                                  

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
  </head>

  <body>

    
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>首页</span><span>></span>
                           <span>角色管理</span><span>></span>
                           <span>角色信息</span>
                           
                         </div>

                        <div class="well-content">
                        <p style="font-size:20px;margin-left:42%;margin-top:1%;" > 角色信息</p>
                           <hr/>
                         <div class="result-content">
               <form action="{:U('admin/role/index')}" method="post" enctype= "multipart/form-data" style="margin-left:20%;margin-right:20%;">
                <table class="insert-tab" width="100%">
                        <tbody>
                            
                            <tr>
                                <th>角色名称：</th>
                                <td>{$role[0].rolename}</td>
                            </tr>
                            <tr>
                                <th>所在部门：</th>
                                <td>{$role[0].description}</td>
                            </tr>
                            <tr>
                                <th>权限&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：</th>
                                   <td class="tc" >

                                       <if condition="$role[0]['product'] eq 1 ">
                                           产品&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['courier'] eq 1 ">
                                           样品&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['message'] eq 1 ">
                                           留言&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['question'] eq 1 ">
                                           问题&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['news'] eq 1 ">
                                           新闻&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['policy'] eq 1 ">
                                           政策&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['common'] eq 1 ">
                                           公司信息&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['recruit'] eq 1 ">
                                           招聘&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['admin'] eq 1 ">
                                           用户&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                       <if condition="$role[0]['role'] eq 1 ">
                                           角色&nbsp;&nbsp;/&nbsp;&nbsp;
                                       </if>
                                      </td>
                            </tr>
                            

                        </tbody></table>
               </form>
            </div>
                            </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="__PUBLIC__/admin/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/admin/js/jquery-ui-1.10.3.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.js"></script>

    <script src="__PUBLIC__/admin/js/flatpoint_core.js"></script>

  </body>
</html>
