*{
    margin:0px;
    padding:0px;
    text-decoration: none;
}
.navigation_bg{
    background-image:url(../images/company/u0.jpg);
    background-size:100% 400px;
    height:400px;
    width:100%;
}
.nav{
    margin-top:-4.45%;
    background-color:rgba(66,66,66,0.189);
    height:80px;
}
.navbar_logo_first{
    margin-left:1.89%;
    margin-top:1.5%;
    width:100px;
    height:86px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
}
.navbar_logo_second{
    margin-top:3.5%;
    margin-left:7%;
    width:200px;
    height:30px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.nav a{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size:14px;
}
.nav_word_fist_first{
    margin-left:-15%;
}
.nav_word_fist_second{
    margin-top:53%;
}
.nav_word_second_first{
    margin-left:-6%;
}
.nav_word_second_second{
    margin-top:54%;
}
.nav_word_third_third{
    margin-left:1%;
}
.nav_word_fifth_second{
    margin-top:23%;
}
.nav_word_sixth_first{
    margin-left:-7%;
}

#search-wrap{
    margin-top:35.5%;
    width:180px;
    height:24px;
    border-radius:16px;
   /* box-shadow: 0 0 3px rgba(0,0,0,.14);*/
    background-color:#FFF;
}
#search-wrap .search-content{
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    margin-top:1.2%;
    margin-left:-10%;
    width:150px;
    height:22.28px;
    border:0px;
    outline:none;
}
#search-wrap .search-btn{
    border:0px;
    margin-top:-10%;
    padding-left:15%;
    width:46px;
    height:24px;
    border-radius:14px;
    background-color:#2980b9;
    color:#FFF;
    text-align:center;
    line-height:24px;
}
.serach_second_div{
    margin-left:7.7%;
}
.crumbs{
    margin-top:-2.25%;
    background-color: rgba(215, 215, 215, 1);
     height:30px;
}
.crumbs_div_al a{
    color:#333;
}
.crumbs_div_al div{
    margin-top:0.35%;
}
.crumbs_div_al div img{
    margin-top:-5.7%;
}
.crumbs_word_first{
    margin-left:1.45%;
}
.crumbs_word_second{
    margin-left:3.67%;
}
