<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="#">网站图片管理</a>

            </div>
        </div>
        <div class="well">

            <a href="{:U('admin/common/add')}" style="color:#000;"></a>
            <div class="well-content" style="margin-top: 1%;">

                <table class="result-tab" style=" width: 100%;">

                        <thead>
                        <tr>

                            <th width="15%">ID</th>
                            <th width="25%">名称</th>
                            <th width="35%">图片</th>
                            <th width="6%">管理操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="result" id="data" key="k">
                            <tr>
                                <td>{$k}</td>
                                <td>{$data.config_name}</td>
                                <td><img src="__PUBLIC__/upload/{$data.config_content}" style="height: 10%;width: 50%;"></td>
                                <td>
                                    <a class="btn" href="/index.php/admin/peizhi/picturemanage/id/{$data.id}" title="修改">修改</a>
                                </td>
                            </tr>
                        </volist>


                        </tbody>
                    </table>
            </div>

        </div>
        <!-- Content end -->
    </div>
</div>
</body>
</html>
