<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>坤源后台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
</head>

<body>


<div>
    <!-- Content start -->
    <div  class="daohanglink">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>首页<span class="crumb-step">&gt;</span><a class="crumb-name" href="/admin/policy/index">政策管理</a><span class="crumb-step">&gt;</span>内容信息
            </div>
        </div>
    </div>
    <div class="well">
        <p style="font-size:26px;margin-left:42%;margin-top:3%;">内容信息</p>
        <hr/>
        <div class="well brown" style="margin-left:20%;margin-right:20%;">
            <form action="{:U('admin/common/manage')}">

                <table class="insert-tab" width="60%" >
                    <tbody>
                    <volist name="result" id="data">
                        <tr>
                            <th width="20%">种类：</th>
                            <td>
                                政策
                            </td>
                        </tr>
                        <tr>
                            <th>标题：</th>
                            <td>{$data.title}</td>
                        </tr>
                        <tr>
                            <th>内容：</th>
                            <td>
                                {$data.content}
                            </td>
                        </tr>

                        <tr>
                            <th>图片：</th>
                            <td><img src="__PUBLIC__/upload/{$data.image}" style="height:100px;width:150px;margin-top: 2%;margin-left: 1%;margin-bottom: 2%;"></td>
                        </tr>


                    </volist>

                    </tbody></table>

            </form>
        </div>
        <!-- Content end -->
    </div>

</body>
</html>
