/* 
* @Author: anchen
* @Date:   2016-12-01 10:55:03
* @Last Modified by:   anchen
* @Last Modified time: 2016-12-05 17:59:38
*/
body{
   padding:0px; 
}
  .big{
     font-family: "黑体";
     font-weight: bolder;
     font-size:28px;
}

.footer-color 
{
    background-color:rgba(191, 188, 179, 0.4);
    border-color: #080808;
    margin:15px;
.navbar-color
{
    background-color:rgba(191, 188, 179, 0.4);
}
}
.carousel-caption-me {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.navbar-default-me {

  background-color: rgba(33, 29, 2,0.2);
 
}
.navbar-default-me .navbar-brand{
    font-size: 3em;
    color:#1569ef;
    margin-left:50px;
}
.navbar-default-me .navbar-brand:hover,
.navbar-default-me .navbar-brand:focus {
    
  color: #fff;
  background-color: transparent;
}
.navbar-default-me .navbar-text {
    
    margin-left:-10px;
    font-size: 18px;
  color: #fff;
}

.navbar-default-me .navbar-nav > li > a {
  color: #fff;
  font-size:17px;
  font-weight: bold;
}

.navbar-default-me .navbar-nav > li > a:hover{
    color:#000;

}
.navbar-default-me .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default-me .navbar-nav > .active > a,
.navbar-default-me .navbar-nav > .active > a:hover,
.navbar-default-me .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e7e7e7;
}
.navbar-default-me .navbar-nav > .disabled > a,
.navbar-default-me .navbar-nav > .disabled > a:hover,
.navbar-default-me .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default-me .navbar-toggle {
  border-color: #ddd;
}
.navbar-default-me .navbar-toggle:hover,
.navbar-default-me .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default-me .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default-me .navbar-collapse,
.navbar-default-me .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default-me .navbar-nav > .open > a,
.navbar-default-me .navbar-nav > .open > a:hover,
.navbar-default-me .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default-me .navbar-nav .open .dropdown-menu{

    background-color: rgba(52, 54, 56,0.5);

}

@media (max-width: 767px) {

  .navbar-default-me .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
    
  }
  .navbar-default-me .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default-me .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color:rgb(77, 90, 112);
   
  }
  .navbar-default-me .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default-me .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default-me .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000;

     background-color: rgba(52, 54, 56,0.6);

  }
  .navbar-default-me .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default-me .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default-me .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #000;
    background-color: transparent;
  }
}
.navbar-default-me .navbar-link {
  color: #777;
}
.navbar-default-me .navbar-link:hover {
  color: #333;
}
.navbar-default-me .btn-link {
  color: #777;
}
.navbar-default-me .btn-link:hover,
.navbar-default-me .btn-link:focus {
  color: #333;
}
.navbar-default-me .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default-me .btn-link:hover,
.navbar-default-me .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default-me .btn-link:focus {
  color: #ccc;
}
.cover{
    position:absolute;
    top:501px;

    z-index: 199;
       
}
.cover img{
    width:1378px;
}