.content-nav-icon{
	float: left;
}
.content-nav-line{
	margin-left: 12%;
	margin-top: 12%;
}
.content-nav{
	margin-top: 12%;
}
.title{
	margin-top: 5%; 
}
.nav-font{
	font-family: '微软雅黑';
}
.content-1-1{
	margin-top: 2%;
	font-family: '微软雅黑';
}
.content-1-2{
	margin-top: 2%;
	font-family: '微软雅黑';
}
.content-2-1{
	margin-top: 2%;
	font-family: '微软雅黑';
}
.content-3-1{
	margin-top: 2%;
	font-family: '微软雅黑';
}
.content1-text{
	width: 301px;
	float: left;
}
.content1-img{	
	width: 269px;
	height: 196px;
	
}
.content1-text-p{
	font-family:'黑体';
	text-indent:2em; 
}

.content2-text{
	width: 301px;
	float: left;
}
.content2-img{	
	width: 320px;
	height: 250px;
	margin-top: 4%;
	margin-left: 4%;
}
.content2-text-p{
	font-family:'黑体';
	text-indent:2em; 
}
.content2-img-out{
	width:349px;
	height: 276px;
	background-image:url(../images/protechnology/u88.png);
	background-repeat: no-repeat;
	background-position: center;
}
.proContent{
	font-family:'黑体';
	font-size: 32px;

}
.content3-h1{
	font-size: 36px;
	color: #000000; 
}
.content3-text{
	width: 301px;
	float: left;
	margin-top: 20%;
}
.content3-text h5{
	margin-top: 10%;
	font-size: 14px;
	width: 320px;
}
.content3-text h5 a{
	font-size: 11px;
}
.content3-img{	
	width: 439px;
	height: 435px;
	margin-top: 4%;
	margin-left: 4%;
}
.content3-text-p{
	font-family:'黑体';
	text-indent:2em;
	margin-top: 10%; 
}

.content4-title{
	font-size: 36px;
	color: red;
	font-family: '微软雅黑';
}
.content4-img-1{
	width: 170px;
	height: 170px;
	color: #FFFFFF;
	font-family: '黑体';
	margin-top: 20%;
	background-image:url(../images/protechnology/u138.png);
	background-repeat: no-repeat;
	background-position: center;
}  
.content4-img1{
	display: block;
	padding-top: 20%;
	padding-left: 35%;

}
.content4-img2{
	display: block;
	padding-left: 17%;
	padding-top: 10%;
}
.content4-img-1 h3{
	padding-left: 23%;
}
.content4-img-2{
	width: 170px;
	height: 170px;
	color: #FFFFFF;
	font-family: '黑体';
	margin-top: 20%;
	background-image:url(../images/protechnology/u146.png);
	background-repeat: no-repeat;
	background-position: center;
}
.content4-img-2 h3{
	padding-left: 23%;
}
.content4-img-3{
	width: 170px;
	height: 170px;
	color: #FFFFFF;
	font-family: '黑体';
	margin-top: 20%;
	background-image:url(../images/protechnology/u154.png);
	background-repeat: no-repeat;
	background-position: center;
}
.content4-img-3 h3{
	padding-left: 23%;
}
.content4-img-4{
	width: 170px;
	height: 170px;
	color: #FFFFFF;
	font-family: '黑体';
	margin-top: 20%;
	background-image:url(../images/protechnology/u162.png);
	background-repeat: no-repeat;
	background-position: center;
}
.content4-img-4 h3{
	padding-left: 23%;
}