<div class="container col-md-12 font-family"style="padding:0px">
    <div class="container col-md-12" style="padding:0px">
        <div>
            <div class="carousel slide" >

                <div class="carousel-inner">
                    <div class="item active" >
                        <volist name="bigtu" id="big">
                        <img  src="__PUBLIC__/upload/{$big.config_content}" width="100%" />
                    </volist>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin:0px">
            <div>

                <ul class="breadcrumb ">

                    <li>
                        您所在的位置:
                        <a href="index.html">首页</a>
                    </li>

                    <li class="active">

                        新闻中心
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-12">
<div class="xshidden row">&nbsp</br></br></br></br></div>
    <div class="container">
        <div class="text-center">
            <div class="big">
                <div>
                    <img src="__PUBLIC__/images/newslist/u321.png">
                    新闻中心
                    <img src="__PUBLIC__/images/newslist/u321.png">
                </div>
            </div>
            <div style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</div>
        </div>
        <!--第一部分，内容标题+下划线+产品标题-->
        <div class="row nc_first_top"></div>
        <div class="row nc_first">
        <div class="xshidden row">&nbsp</br></br></div>
          <div class="col-md-7 col-md-offset-1 nc_first_left">


                                            
                                <!--&lt;!&ndash;<?php&ndash;&gt;-->
                                    <!--&lt;!&ndash;$data={$data.time};&ndash;&gt;-->
                                    <!--&lt;!&ndash;$temp=explode(" ",$data);&ndash;&gt;-->
                                    <!--&lt;!&ndash;$temp1=explode("-",$temp[0]);&ndash;&gt;-->
                                    <!--&lt;!&ndash;$temp2=explode(":",$temp[1]);&ndash;&gt;-->
                                    <!--&lt;!&ndash;echo mktime($temp2[0],$temp2[1],$temp2[2],$temp1[1],$te mp1[2],$temp1[0]);&ndash;&gt;-->
<!--&lt;!&ndash;?>&ndash;&gt;-->
                               

                    <div style="height: 30px"></div>
              <volist name="newss" id="data">
                    <div class="col-md-12 col-xs-12" style="border-top: 1px solid #c6c6c6;" onmouseover="chagebgcolor(this)" onmouseout="recovecolor(this)">

                        <h2>
                            <a target="_blank" href="/home/newscontent/index/id/{$data.commonid}" style="text-decoration: none;font-size:23px;font-family:微软雅黑;line-width: 27px;" class="text-center">
                               {$data.title}
                            </a>
                        </h2>

                            <div class="col-md-3 col-xs-12"  style="display:inline; padding-bottom:10px">
                                <a href="/home/newscontent/index/id/{$data.commonid}" target="_blank" class="imageshide"><img width="100%" src="__PUBLIC__/upload/{$data.image}"/></a>
                            </div>
                            <div class="col-md-9 col-xs-12" style="color:#666;display:inline;padding-bottom:0px; ">

                                <p style="line-height: 27px;font-family:微软雅黑;">  {$data.content|mb_substr=###,0,50,'utf-8'}<a target="_blank" href="/home/newscontent/index/id/{$data.commonid}" class="right">[详细]</a> </p>
                                <span style="color:#999;padding-top:10px;">{$data.time}</span>
                            </div>
                            <script type="text/javascript">
                                function chagebgcolor(e) {
                                    console.log('改变颜色');
                                    console.log(e);
                                    e.style.backgroundColor='#f5f5f5';
                                }
                                function recovecolor(e) {
                                    console.log('恢复颜色');
                                    e.style.backgroundColor='#fff';
                                }
                            </script>
                            <div style="display: none">
                                <div onmouseover="me_over()" onmouseout="me_out()">
                                    <a href="javascript;;"><span>分享</span></a>

                                    <div>
                                        <a></a>
                                    </div>
                                </div>
                            </div>

                            

                    </div>
                    
                    <div class="row-md-1">&nbsp;</div>
        </volist>

        <div class="row-md-1">&nbsp;</div>
              <load href=" __PUBLIC__/css/page.css"/>
              <div class="col-md-11 col-xs-8 col-md-push-8 col-xs-push-4 sabrosus"><{$page}></div>
            </div>

            <script type="text/javascript">
                function chagebgcolor(e) {
                    e.style.backgroundColor='#f5f5f5';
                }
                function recovecolor(e) {
                    e.style.backgroundColor='#fff';
                }
            </script>
            
            
            <div class="col-md-4 col-md-push-0">
            <div class="row-md-1">&nbsp;</br></br></br></div>
            <div class="col-md-1 hidden-xs"><img src="__PUBLIC__/images/newslist/u1690.png"></div>
            <div class="col-md-11">
                <div class="col-md-12 row product_title">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-5  col-xs-8 product_title_first">产品展示</div>

                </div>
          
                <div class="row right_first_hr">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-9  right_hr_p"><hr style=" height:2px;border:none;border-top:1px  solid #000;" />
                    </div>
                </div>
                
                <!--第四部分开始-->

                <div class="row">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="0" length="1">
                            <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}">
                            </a></volist>
                    </div>
                    
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="1" length="1">
                            <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}">
                            </a></volist>
                   </div>
                </div>
                <div class="row right_first_word">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-xs-4  col-md-4 right_first_word_first">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="0" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                   
                    <div class="col-xs-4 right_first_word_second">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="1" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="2" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}"></a>
                            </volist>
                    </div>
                    
                    <div class="col-md-4 col-xs-4">
                        <volist name="products" id="data1" offset="3" length="1"><a href="/home/Proshow/index/id/{$data1.productid}"><img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/upload/{$data1.image}"></a></volist></div>
                </div>

                <div class="row right_first_word">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-xs-4  col-md-4 right_first_word_first">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="2" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                    
                    <div class="col-xs-4 right_first_word_second">
                        <div class="row">&nbsp</div>
                        <volist name="products" id="data1" offset="3" length="1">
                        <a href="/home/Proshow/index/id/{$data1.productid}">{$data1.name}生物材料</a>
                            </volist>
                            <div class="row">&nbsp</div>
                    </div>
                </div>

                <!--第四部分结束-->
                <!--第五部分开始-->
                <div class="row">&nbsp</div>
                <div class="row news_push_title">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-5  col-xs-8 news_push_title_first">新闻推荐</div>
                </div>
                <div class="row right_first_hr">
                    <div class="col-md-1 col-xs-1">&nbsp</div>
                    <div class="col-md-9  right_hr_p"><hr style=" height:2px;border:none;border-top:1px  solid #000;" />
                    </div>
                </div>

                <div class="row news_push_content"><div class="col-md-2 col-xs-1">&nbsp</div><div class="col-md-8">
                                    </div></div>
                <volist name="recommonnews" id="data">
                <div class="row news_push_content"><div class="col-md-1 col-xs-1">&nbsp</div><div class="col-md-8"><a href="/home/newscontent/index/id/{$data.commonid}">》{$data.title|mb_substr=###,0,15,'utf-8'}..</a></div></div>
                </volist>

                <!--第五部分结束-->
                <!--第六部分开始-->
                <div class="row">&nbsp</div>


                               <!--第六部分结束-->
            </div>
        </div>
        </div>
        <!--第一部分结束-->
    </div>
</div>
<div class="row-md-1">&nbsp;</br></br></div>
