
<head>
	<title>产品详情</title>
	<link rel="stylesheet" type="text/css" href="css/ProductContent2.css">
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>

<div class="row clearfix" style="margin:0px">
	<div>

		<ul class="breadcrumb ">

			<li>
				您所在的位置:
				<a href="index.html">首页</a>
			</li>

			<li class="active">

				产品展示
			</li>

		</ul>
	</div>
</div>
<div class="container">

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-11 col-xs-12 text-center">
			<div class="big">
				<img src="manimages/u321.png" class="kuny-up">
				硬杂木生物质材料
				<img src="manimages/u321.png" class="kuny-up">	
			</div>
			<p style="font-family:Blackadder ITC Normal, Blackadder ITC;font-size:19px">kunyuan</p>
	</div>	
</div>
<div class="row">
	<div class="col-md-1">&nbsp;</div>
	<div class="text-center content-con1  col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
		
		<img src="manimages/u1020.jpg" class="content-img col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 col-md-push-4" style="margin-top:9%;">
		<div class="content-text col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1 col-md-pull-7 fadeInLeft"  style="margin-left: 12%;margin-top: 8%;">
			<h3>--原料选择</h3>
			<p class="content-text-p">生物质燃料由秸秆、稻草、稻壳、花生壳、玉米芯、油茶壳、棉籽壳等以及三剩物”经过加工产生的块状环保新能源。</p>
		</div>
	</div>


	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-2">&nbsp;</div>

	<div class="text-center content-con2   col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
		
		<img src="manimages/u1020.jpg" class="content-img2 col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:7.8%;">
		<div class="content-text2 col-md-2 col-xs-10 col-xs-offset-1" style="margin-right: 16%;margin-top: 7%;">
			<h3>--原料选择</h3>
			<p class="content-text-p">生物质燃料由秸秆、稻草、稻壳、花生壳、玉米芯、油茶壳、棉籽壳等以及三剩物”经过加工产生的块状环保新能源。</p>
		</div>
		
	</div>

	<div class="col-md-1">&nbsp;</div>
	<div class="text-center content-con1  col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
		
		<img src="manimages/u1020.jpg" class="content-img col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 col-md-push-4" style="margin-top:9%;">
		<div class="content-text col-md-2 col-md-offset-1 col-xs-10 col-xs-offset-1 col-md-pull-7 fadeInLeft"  style="margin-left: 12%;margin-top: 8%;">
			<h3>--原料选择</h3>
			<p class="content-text-p">生物质燃料由秸秆、稻草、稻壳、花生壳、玉米芯、油茶壳、棉籽壳等以及三剩物”经过加工产生的块状环保新能源。</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1">&nbsp;</div>
	<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1">&nbsp;</div>
	<div class="col-md-2">&nbsp;</div>
	<div class="text-center content-con2   col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
		
		<img src="manimages/u1020.jpg" class="content-img2 col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:7.8%;">
		<div class="content-text2 col-md-2 col-xs-10 col-xs-offset-1" style="margin-right: 16%;margin-top: 7%;">
			<h3>--原料选择</h3>
			<p class="content-text-p">生物质燃料由秸秆、稻草、稻壳、花生壳、玉米芯、油茶壳、棉籽壳等以及三剩物”经过加工产生的块状环保新能源。</p>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center" style="margin-top:7.8%;">
			<div style="font-size:25px; font-family:Axure Handwriting ">
				<img src="manimages/u321.png" class="kuny-up">
				END
				<img src="manimages/u321.png" class="kuny-up">	
			</div>
	</div>	
</div>
<!--content-end-->
</div>
<div class="row-md-1">&nbsp;</br></br></div>

